{% extends "modal_template_alert.html" %}

{% block modal_body %}
<p class="control-label">
    Вы уверены, что хотите удалить ученика {{ student.last_name }} {{ student.first_name }} из класса?
</p>
<form class="login-form" action="{{ url_for('main.delete_record') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="record_type" value="school_student">
    <input type="hidden" name="student_id" value="{{ student.id }}">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="submit" class="btn btn-sm" data-background-color="main">
                Да
            </button>
            <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                Нет
            </button>
        </div>
    </div>
</form>
{% endblock %}