{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Журнал. {{ subject.name }} {{ school_classes }} {{ month.capitalize() }}</h4>
            </div>
            <div class="card-content">
                <div class="scroll-timetable" style="height:80vh;">
                    <table class="table table-hover" id="table-report" style="min-width:300px;">
                        <thead class="text-success">
                            <tr>
                                <th class="fixed-column" style="width:50px; vertical-align:bottom;">Дата</th>
                                <th class="fixed-column-next" width="30%" style="vertical-align:bottom;">Тема урока</th>
                                {% for student in subject_records.keys() %}
                                    <th style="writing-mode:vertical-rl;">
                                        <a class="spinner-trigger" href="{{ url_for('school_classes.student_school_record', student_id=subject_records[student].student_id, month_index=month_index) }}">
                                            {{ student }}
                                        </a>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% if dates_topics %}
                                {% for date, topic, lesson_id in dates_topics %}
                                    {% set outer_loop = loop %}
                                    <tr>
                                        <td class="fixed-column">
                                            {% if lesson_id < 0 %}
                                                <b>{{ date[:5] }}</b>
                                            {% else %}
                                                {{ date[:5] }}
                                            {% endif %}
                                        </td>
                                        <td class="fixed-column-next">
                                            {% if lesson_id < 0 %}
                                                <b>{{ topic }}</b>
                                            {% elif lesson_id > 0 %}
                                                <a class="spinner-trigger" style="color:#555;" href="{{ url_for('school_classes.school_lesson', lesson_str='0-'+lesson_id|string) }}">
                                                    {{ topic }}
                                                </a>
                                            {% else %}
                                                {{ topic }}
                                            {% endif %}
                                            {% if current_user.rights == "admin" and lesson_id <= 0 %}
                                                <a href="#" data-toggle="modal" class="pull-right" data-target="#delete-{{ outer_loop.index }}-modal">
                                                    <i class="material-icons" style="color:red; font-size:14px;">delete_forever</i>
                                                </a>
                                            {% endif %}
                                        </td>

                                        {% if current_user.rights == "admin" and lesson_id <= 0 %}

                                    <!-- *-*-*-*-*-*-*-*-*-* Grade delete conformation *-*-*-*-*-*-*-*-*-* -->

                                            {% with modal_id='delete-' ~ outer_loop.index ~ '-modal', modal_title='Удаление оценок' %}
                                                {% include 'school_classes/delete_grade_modal.html' %}
                                            {% endwith %}

                                        {% endif %}

                                        {% for student in subject_records %}
                                            <td style="text-align:center;">
                                                <a href="#" style="color:#555;" data-toggle="modal" data-target="#change-grade-{{ outer_loop.index }}-{{ loop.index }}-modal">
                                                <div>
                                                    {% if subject_records[student].get((date, topic, lesson_id)) %}
                                                        {% set grade = subject_records[student][(date, topic, lesson_id)].grade %}
                                                        {% set comment = subject_records[student][(date, topic, lesson_id)].comment %}
                                                        <p style="display:inline-block;">
                                                            {% if grade is not none %}
                                                                {% if lesson_id < 0 %}
                                                                    <b>{{ 'Долг' if grade == 0 else grade }}</b>
                                                                {% else %}
                                                                    {{ 'Долг' if grade == 0 else grade }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </p>
                                                        {% if comment %}
                                                            <div class="comment" style="display:inline-block;" title="{{ comment }}">&#9913;</div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                                </a>

                                    <!-- *-*-*-*-*-*-*-*-*-* Change grade modal *-*-*-*-*-*-*-*-*-* -->

                                                {% set modal_title = date[:5] ~ ' ' ~ topic ~ '. Изменить итоговую оценку' if lesson_id < 0 else date[:5] ~ ' ' ~ topic ~ '. Изменить оценку' %}
                                                {% set bold_title=True if lesson_id < 0 %}
                                                {% with modal_id='change-grade-' ~ outer_loop.index ~ '-' ~ loop.index ~ '-modal', modal_title=modal_title %}
                                                    {% include 'school_classes/change_grade_modal.html' %}
                                                {% endwith %}

                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="{{ subject_records.keys()|length + 2 }}" style="text-align:center;">
                                        Оценок пока нет
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-sm" data-background-color="orange">
                            <a class="spinner-trigger" style="color: #FFFFFF;" href="{{ url_for('school_classes.school_subject', subject_classes=subject_classes, month_index=month_index-1) }}">
                                <i class="material-icons">navigate_before</i>Предыдущий месяц
                            </a>
                        </button>
                        {% if month_index < 0 %}
                        <button class="btn btn-sm" data-background-color="orange">
                            <a class="spinner-trigger" style="color: #FFFFFF;" href="{{ url_for('school_classes.school_subject', subject_classes=subject_classes, month_index=month_index+1) }}">
                                Следующий месяц<i class="material-icons">navigate_next</i>
                            </a>
                        </button>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="dropup pull-right">
                            <button class="btn btn-sm dropdown-toggle" data-background-color="purple" data-toggle="dropdown">
                                <i class="material-icons">grade</i> Добавить оценки
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#grade-modal">Текущая оценка</a>
                                </li>
                                <li>
                                    <a href="#" data-toggle="modal" data-target="#final-grade-modal">Итоговая оценка</a>
                                </li>
                            </ul>
                        </div>

                        <!-- *-*-*-*-*-*-*-*-*-* Grade modal *-*-*-*-*-*-*-*-*-* -->

                        {% with modal_id='grade-modal', modal_class='modal-lg', modal_title=subject.name ~ '. ' ~ school_classes ~ '. Оценки', submit_type = 'new_grade_btn' %}
                            {% include 'school_classes/grade_modal.html' %}
                        {% endwith %}

                        <!-- *-*-*-*-*-*-*-*-*-* Final grade modal *-*-*-*-*-*-*-*-*-* -->

                        {% with modal_id='final-grade-modal', modal_class='modal-lg', modal_title=subject.name ~ '. ' ~ school_classes ~ '. Итоговые оценки', grade_types=finals, submit_type = 'new_final_grade_btn' %}
                            {% include 'school_classes/grade_modal.html' %}
                        {% endwith %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
