<div class="row" style="margin-left:30px;">
    <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
        <a href="#" data-toggle="collapse" data-target="#add-parent">
            <i class="material-icons">group_add</i> Родители
        </a>
    </button>
</div>
<div  class="collapse" id="add-parent">
    <form class="change-class-form" method="post" action="{{ url_for('settings.change_parent') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-4">Имя пользователя:</label>
                    <label class="control-label col-md-4">Дети:</label>
                </div>
                {% for parent in parents %}
                    <div class="row parent-row" data-target="{{ parent.id }}">
                        <div class="col-md-4" style="padding-left:44px;">
                            <div class="form-control">{{ parent.username }}</div>
                        </div>
                        <div class="col-md-4" style="padding-left:44px;">
                            <div class="form-control">
                                <div class="children-container">
                                    {% for child in parent.children %}
                                        <p class="child-p">
                                            <button type="button" value="{{ child.id }}" class="btn btn-danger del-btn del-child-btn" style="margin-bottom:2px">&times;</button>
                                            <span class="child-name">{{ child.last_name }} {{ child.first_name }}</span>
                                            <input type="hidden" name="children_{{ parent.id }}" value="{{ child.id }}">
                                        </p>
                                    {% endfor %}
                                </div>
                                <select class="form-control select-search child-select" placeholder="Добавить ребенка">
                                    <option value="" selected disabled></option>
                                    {% for child in children %}
                                        {% if child not in parent.user_persons %}
                                            <option value="{{ child.id }}">{{ child.last_name }} {{ child.first_name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" name="change_parent_btn" value="{{ parent.id }}" class="btn btn-xs" style="margin:0;" data-background-color="main"><i class="material-icons">done</i></button>
                            <button type="submit" name="delete_parent_btn" value="{{ parent.id }}" class="btn btn-xs" style="margin:0;" data-background-color="red"><i class="material-icons">delete</i></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
    <form class="add-parent-form" method="post" action="{{ url_for('settings.create_user') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <h4 class="title" style="margin-left: 27px;">Добавить родителя</h4>
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-3">Имя пользователя:</label>
                    <div class="col-md-4 field-div">
                        <input type="text" name="username" class="form-control field-input required">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3">Пароль:</label>
                    <div class="col-md-4 password-div">
                        <input name="password" type="password" class="form-control password-input">
                    </div>
                    <div class="col-md-1">
                        <span class="material-icons" style="cursor:pointer; margin:5px 0 0 -55px; color:#AAAAAA;" title="Не менее 7 символов, латинские буквы и цифры, символы не обязательно">help_outline</span>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-md-3">Повторить пароль:</label>
                    <div class="col-md-4 repeat-password-div">
                        <input type="password" name="repeat_password" class="form-control repeat-password-input">
                    </div>
                </div>
                <input type="hidden" name="rights" value="parent">
                <div class="row">
                    <label class="control-label col-md-3">Дети:</label>
                    <div class="col-md-4">
                        <select name="children" class="form-control select-search" multiple>
                            {% for child in children %}
                                <option value="{{ child.id }}">{{ child.last_name }} {{ child.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="row" style="margin-left:30px;">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-sm" data-background-color="main">Добавить</button>
                    <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#add-parent">Закрыть</button>
                </div>
            </div>
        </div>
    </form>
</div>