{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Настройки</h4>
            </div>
            <div class="card-content">

            <!-- *-*-*-*-*-*-*-*-*-* Change password section *-*-*-*-*-*-*-*-*-* -->

                <div class="row" style="margin-left:30px;">
                    <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                        <a href="#" data-toggle="collapse" data-target="#edit-password">
                            <i class="material-icons">lock_reset</i> Изменить пароль
                        </a>
                    </button>
                </div>
                <div  class="collapse" id="edit-password">
                    <form class="change-password-form" method="post" action="{{ url_for('settings.change_password') }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3">Старый пароль:</label>
                                    <div class="col-md-4 field-div">
                                        <input type="password" name="old_password" class="form-control field-input">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Новый пароль:</label>
                                    <div class="col-md-4 password-div">
                                        <input type="password" name="new_password" class="form-control password-input">
                                    </div>
                                    <div class="col-md-1">
                                        <span class="material-icons" style="cursor:pointer; margin:5px 0 0 -55px; color:#AAAAAA;" title="Не менее 7 символов, латинские буквы и цифры, символы не обязательно">help_outline</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Повторить пароль:</label>
                                    <div class="col-md-4 repeat-password-div">
                                        <input type="password" name="password_repeat" class="form-control repeat-password-input">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="row" style="margin-left:30px;">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-sm" data-background-color="main">Изменить</button>
                                    <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#edit-password">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                {% if current_user.rights == 'admin' %}

            <!-- *-*-*-*-*-*-*-*-*-* Add user section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#add-user">
                                <i class="material-icons">person_add</i> Добавить пользователя
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="add-user">
                        <form class="add-user-form" method="post" action="{{ url_for('settings.create_user') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Имя пользователя:</label>
                                        <div class="col-md-4 field-div">
                                            <input type="text" name="username" class="form-control field-input required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Пароль:</label>
                                        <div class="col-md-4 password-div">
                                            <input name="password" type="password" class="form-control password-input">
                                        </div>
                                        <div class="col-md-1">
                                            <span class="material-icons" style="cursor:pointer; margin:5px 0 0 -55px; color:#AAAAAA;" title="Не менее 7 символов, латинские буквы и цифры, символы не обязательно">help_outline</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Повторить пароль:</label>
                                        <div class="col-md-4 repeat-password-div">
                                            <input type="password" name="repeat_password" class="form-control repeat-password-input">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Права:</label>
                                        <div class="col-md-4">
                                            <select name="rights" class="form-control">
                                                <option value="user">Администратор</option>
                                                <option value="teacher">Учитель</option>
                                                <option value="admin">Руководитель</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#add-user">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            <!-- *-*-*-*-*-*-*-*-*-* Add parent section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#add-parent">
                                <i class="material-icons">group_add</i> Родители
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="add-parent">
                        <form class="change-class-form" method="post" action="{{ url_for('settings.change_parent') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-4">Имя пользователя:</label>
                                        <label class="control-label col-md-4">Дети:</label>
                                    </div>
                                    {% for parent in parents %}
                                        <div class="row parent-row" data-target="{{ parent.id }}">
                                            <div class="col-md-4" style="padding-left:44px;">
                                                <div class="form-control">{{ parent.username }}</div>
                                            </div>
                                            <div class="col-md-4" style="padding-left:44px;">
                                                <div class="form-control">
                                                    <div class="children-container">
                                                        {% for child in parent.user_persons %}
                                                            <p class="child-p">
                                                                <button type="button" value="{{ child.id }}" class="btn btn-danger del-btn del-child-btn" style="margin-bottom:2px">&times;</button>
                                                                <span class="child-name">{{ child.last_name }} {{ child.first_name }}</span>
                                                                <input type="hidden" name="children_{{ parent.id }}" value="{{ child.id }}">
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                    <select class="form-control select-search child-select" placeholder="Добавить ребенка">
                                                        <option value="" selected disabled></option>
                                                        {% for child in children %}
                                                            {% if child not in parent.user_persons %}
                                                                <option value="{{ child.id }}">{{ child.last_name }} {{ child.first_name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" name="change_parent_btn" value="{{ parent.id }}" class="btn btn-xs" style="margin:0;" data-background-color="main"><i class="material-icons">done</i></button>
                                                <button type="submit" name="delete_parent_btn" value="{{ parent.id }}" class="btn btn-xs" style="margin:0;" data-background-color="red"><i class="material-icons">delete</i></button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                        <form class="add-parent-form" method="post" action="{{ url_for('settings.create_user') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <h4 class="title" style="margin-left: 27px;">Добавить родителя</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Имя пользователя:</label>
                                        <div class="col-md-4 field-div">
                                            <input type="text" name="username" class="form-control field-input required">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Пароль:</label>
                                        <div class="col-md-4 password-div">
                                            <input name="password" type="password" class="form-control password-input">
                                        </div>
                                        <div class="col-md-1">
                                            <span class="material-icons" style="cursor:pointer; margin:5px 0 0 -55px; color:#AAAAAA;" title="Не менее 7 символов, латинские буквы и цифры, символы не обязательно">help_outline</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Повторить пароль:</label>
                                        <div class="col-md-4 repeat-password-div">
                                            <input type="password" name="repeat_password" class="form-control repeat-password-input">
                                        </div>
                                    </div>
                                    <input type="hidden" name="rights" value="parent">
                                    <div class="row">
                                        <label class="control-label col-md-3">Дети:</label>
                                        <div class="col-md-4">
                                            <select name="children" class="form-control select-search" multiple>
                                                {% for child in children %}
                                                    <option value="{{ child.id }}">{{ child.last_name }} {{ child.first_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#add-parent">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

            <!-- *-*-*-*-*-*-*-*-*-* Change or add rooms section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#rooms">
                                <i class="material-icons">meeting_room</i> Кабинеты
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="rooms">
                        <form class="change-room-form" method="post" action="{{ url_for('settings.change_add_room') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    {% for room in rooms %}
                                        <div class="row">
                                            <label class="control-label col-md-2">Название:</label>
                                            <div class="col-md-3 field-div">
                                                <input type="text" name="name_{{ room.id }}" value="{{ room.name }}" class="form-control field-input required">
                                            </div>
                                            <label class="control-label col-md-2">Цвет:</label>
                                            <div class="col-md-1">
                                                <input type="color" name="color_{{ room.id }}" value="{{ room.color }}">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" name="change_room_btn" value="{{ room.id }}" class="btn btn-xs" style="margin:0;" data-background-color="main"><i class="material-icons">done</i></button>
                                                {% if not room.lessons %}
                                                    <button type="submit" name="delete_room_btn" value="{{ room.id }}" class="btn btn-xs" style="margin:0;" data-background-color="red"><i class="material-icons">delete</i></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                        <form class="add-room-form" method="post" action="{{ url_for('settings.change_add_room') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <h4 class="title" style="margin-left: 27px;">Добавить кабинет</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-2">Название:</label>
                                        <div class="col-md-3 field-div">
                                            <input type="text" name="room_name" class="form-control field-input required">
                                        </div>
                                        <label class="control-label col-md-2">Цвет:</label>
                                        <div class="col-md-1">
                                            <input type="color" name="room_color" value="#D9D9D9">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" name="add_room" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#rooms">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            <!-- *-*-*-*-*-*-*-*-*-* Change or add classes section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#school_classes">
                                <i class="material-icons">school</i> Классы
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="school_classes">
                        <form class="change-class-form" method="post" action="{{ url_for('settings.change_add_class') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    {% for school_class in school_classes %}
                                        <div class="row">
                                            <label class="control-label col-md-2">Класс:</label>
                                            <div class="col-md-2 field-div">
                                                <input type="number" name="class_{{ school_class.id }}" min="1" max="11" value="{{ school_class.school_class }}" class="form-control field-input required">
                                            </div>
                                            <label class="control-label col-md-2">Название:</label>
                                            <div class="col-md-2 field-div">
                                                <input type="text" name="name_{{ school_class.id }}" value="{{ school_class.school_name }}" class="form-control field-input required">
                                            </div>
                                            <div class="col-md-3">
                                                <button type="submit" name="change_class_btn" value="{{ school_class.id }}" class="btn btn-xs" style="margin:0;" data-background-color="main"><i class="material-icons">done</i></button>
                                                {% if not school_class.class_lessons %}
                                                    <button type="submit" name="delete_class_btn" value="{{ school_class.id }}" class="btn btn-xs" style="margin:0;" data-background-color="red"><i class="material-icons">delete</i></button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </form>
                        <form class="add-class-form" method="post" action="{{ url_for('settings.change_add_class') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <h4 class="title" style="margin-left: 27px;">Добавить класс</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-2">Класс:</label>
                                        <div class="col-md-2 field-div">
                                            <input type="number" name="new_school_class" min="1" max="11" class="form-control field-input required">
                                        </div>
                                        <label class="control-label col-md-2">Название:</label>
                                        <div class="col-md-3 field-div">
                                            <input type="text" name="new_school_name" class="form-control field-input required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" name="add_class" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#school_classes">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            <!-- *-*-*-*-*-*-*-*-*-* Change or add subscription types section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#subscriptions">
                                <i class="material-icons">ballot</i> Абонементы
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="subscriptions">
                        <form class="change-subscription-form" method="post" action="{{ url_for('settings.change_add_subscription') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8 table-responsive" style="padding-left:44px;">
                                            <table class="table table-hover" style="table-layout: fixed;">
                                                <thead class="text-success">
                                                    <th>Занятия</th>
                                                    <th>Срок действия</th>
                                                    <th>Цена</th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    {% for subscription_type in subscription_types %}
                                                        <tr>
                                                            <td style="vertical-align:top;" class="field-div">
                                                                <input type="number" name="lessons_{{ subscription_type.id }}" min="1" value="{{ subscription_type.lessons }}" class="form-control field-input required">
                                                            </td>
                                                            <td style="vertical-align:top;" class="field-div">
                                                                <input type="number" name="duration_{{ subscription_type.id }}" min="1" value="{{ subscription_type.duration }}" class="form-control field-input required">
                                                            </td>
                                                            <td style="vertical-align:top;" class="field-div">
                                                                <input type="number" name="price_{{ subscription_type.id }}" min="1" value="{{ subscription_type.price }}" class="form-control float-field field-input required">
                                                            </td>
                                                            <td style="vertical-align:top;">
                                                                <button type="submit" name="change_subscription_btn" value="{{ subscription_type.id }}" class="btn btn-xs" style="margin:5px 0;" data-background-color="main"><i class="material-icons">done</i></button>
                                                                {% if not subscription_type.subscriptions %}
                                                                    <button type="submit" name="delete_subscription_btn" value="{{ subscription_type.id }}" class="btn btn-xs" style="margin:5px 0;" data-background-color="red"><i class="material-icons">delete</i></button>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="add-subscription-form" method="post" action="{{ url_for('settings.change_add_subscription') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <h4 class="title" style="margin-left: 27px;">Добавить абонемент</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <label class="control-label">Занятия:</label>
                                            </div>
                                            <div class="row field-div" style="padding: 0 20px 0 44px; margin-top:0;">
                                                <input type="number" name="new_subscription_lessons" min="1" value="8" class="form-control field-input required">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <label class="control-label">Срок действия:</label>
                                            </div>
                                            <div class="row field-div" style="padding: 0 20px 0 44px; margin-top:0;">
                                                <input type="number" name="new_subscription_duration" min="1" value="40" class="form-control field-input required">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <label class="control-label">Цена:</label>
                                            </div>
                                            <div class="row field-div" style="padding: 0 20px 0 44px; margin-top:0;">
                                                <input type="number" name="new_subscription_price" min="1" value="90.0" class="form-control float-field field-input required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer" style="margin-top:-30px;">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" name="add_subscription" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#subscriptions">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

            <!-- *-*-*-*-*-*-*-*-*-* Change or add after-school price section *-*-*-*-*-*-*-*-*-* -->

                    <div class="row" style="margin-left:30px;">
                        <button class="btn btn-sm" data-background-color="orange" style="width:200px;">
                            <a href="#" data-toggle="collapse" data-target="#after-school">
                                <i class="material-icons">diversity_2</i> Цены на продленку
                            </a>
                        </button>
                    </div>
                    <div  class="collapse" id="after-school">
                        <form class="change-after-school-form" method="post" action="{{ url_for('settings.change_add_after_school') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-8 table-responsive" style="padding-left:44px;">
                                            <table class="table table-hover" style="table-layout: fixed;">
                                                <thead class="text-success">
                                                    <th width="50%">Период</th>
                                                    <th>Цена</th>
                                                    <th></th>
                                                </thead>
                                                <tbody>
                                                    {% for after_school_price in after_school_prices %}
                                                        <tr>
                                                            <td style="vertical-align:top;" class="field-div">
                                                                <select name="period_{{ after_school_price.id }}" class="form-control">
                                                                    {% for period in ["месяц", "неделя", "день", "час"] %}
                                                                        {% if period == after_school_price.period %}
                                                                            <option value="{{ period }}" selected>{{ period }}</option>
                                                                        {% else %}
                                                                            <option value="{{ period }}">{{ period }}</option>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </select>
                                                            </td>
                                                            <td style="vertical-align:top;" class="field-div">
                                                                <input type="number" name="price_{{ after_school_price.id }}" min="1" value="{{ after_school_price.price }}" class="form-control float-field field-input required">
                                                            </td>
                                                            <td style="vertical-align:top;">
                                                                <button type="submit" name="change_after_school_btn" value="{{ after_school_price.id }}" class="btn btn-xs" style="margin:5px 0;" data-background-color="main"><i class="material-icons">done</i></button>
                                                                {% if not after_school_price.subscriptions %}
                                                                    <button type="submit" name="delete_after_school_btn" value="{{ after_school_price.id }}" class="btn btn-xs" style="margin:5px 0;" data-background-color="red"><i class="material-icons">delete</i></button>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="add-after-school-form" method="post" action="{{ url_for('settings.change_add_after_school') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="row">
                                <h4 class="title" style="margin-left: 27px;">Добавить цену на продленку</h4>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row">
                                                <label class="control-label">Период:</label>
                                            </div>
                                            <div class="row field-div" style="padding: 0 20px 0 44px; margin-top:0;">
                                                <select name="new_period" class="form-control">
                                                    {% for period in ["месяц", "неделя", "день", "час"] %}
                                                        <option value="{{ period }}">{{ period }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <label class="control-label">Цена:</label>
                                            </div>
                                            <div class="row field-div" style="padding: 0 20px 0 44px; margin-top:0;">
                                                <input type="number" name="new_price" min="1" value="200.0" class="form-control float-field field-input required">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer" style="margin-top:-30px;">
                                <div class="row" style="margin-left:30px;">
                                    <div class="col-md-6">
                                        <button type="submit" name="add_after_school" class="btn btn-sm" data-background-color="main">Добавить</button>
                                        <button type="button" class="btn btn-sm" data-background-color="red" data-toggle="collapse" data-target="#after-school">Закрыть</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}