{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Настройки</h4>
            </div>
            <div class="card-content">

            <!-- *-*-*-*-*-*-*-*-*-* Change password section *-*-*-*-*-*-*-*-*-* -->

                {% include 'app_settings/change_password.html' %}

                {% if current_user.rights == 'admin' %}

            <!-- *-*-*-*-*-*-*-*-*-* Add user section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/add_user.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Add parent section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/add_parent.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Change or add rooms section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/change_add_room.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Change or add classes section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/change_add_classes.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Change or add subscription types section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/change_add_subscription.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Change or add after-school price section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/change_add_after_school.html' %}

            <!-- *-*-*-*-*-*-*-*-*-* Change or add semester section *-*-*-*-*-*-*-*-*-* -->

                    {% include 'app_settings/change_add_semesters.html' %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}