{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">{{ subject.name }}</h4>
            </div>
            <div class="card-content">
                <form class="login-form" action="{{ url_for('school.subjects.edit_subject', subject_id=subject.id) }}" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="form-group">
                            <div class="row {{ 'has-error' if form.subject_name.errors }}">
                                <label class="control-label col-md-3">Название:</label>
                                <div class="col-md-6">
                                    {{ form.subject_name(class="form-control") }}
                                    {% for error in form.subject_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form.subject_short_name.errors }}">
                                <label class="control-label col-md-3">Короткое название:</label>
                                <div class="col-md-6">
                                    {{ form.subject_short_name(class="form-control") }}
                                    {% for error in form.subject_short_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Тип занятия:</label>
                                <div class="col-md-6">
                                    <div class="form-control">{{ subject.subject_type.description }}</div>
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form.subject_price.errors }}">
                                <label class="control-label col-md-3">Цена разового занятия:</label>
                                <div class="col-md-3">
                                    {{ form.subject_price(class="form-control float-field") }}
                                    {% for error in form.subject_price.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row price_row {{ 'has-error' if form.subject_school_price.errors }}">
                                <label class="control-label col-md-3">Специальная цена (Продленка):</label>
                                <div class="col-md-3 optional-field">
                                    {{ form.subject_school_price(class="form-control float-field") }}
                                    {% for error in form.subject_school_price.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col-md-2 checkbox-option">
                                    <label class="contact-radio-label">Нет
                                        {{ form.no_subject_school_price }}
                                        <span class="custom-checkbox"></span>
                                    </label>
                                </div>
                            </div>
                            <div id="subscription-types-container">
                                <div class="row" id="no-subscription-types" style="{{ 'display:none;' if subject.types_of_subscription else '' }}">
                                    <label class="control-label col-md-3">Абонемент:</label>
                                    <div class="col-md-6">
                                        <div class="form-control">Нет</div>
                                    </div>
                                </div>
                                <div id="subscription-types" style="{{ 'display:none;' if not subject.types_of_subscription else '' }}">
                                    {% for subscription_type in subject.types_of_subscription %}
                                        <div class="row subscription-type">
                                            <label class="control-label col-md-3">{{ "Абонемент:" if loop.first }}</label>
                                            <div class="col-md-5">
                                                <div class="form-control">{{ subscription_type[1] }}</div>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger del-btn-sm delete-subscription">Удалить</button>
                                            </div>
                                            <input type="hidden" name="subscription_types" class="subscription-type-value" value="{{ subscription_type[0] }}">
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3">
                                        <input type="hidden" id="subscription-type-count" value="{{ subject.types_of_subscription|length }}">
                                        <select class="form-control" id="add-subscription-type">
                                            <option value="" disabled selected>Добавить абонемент</option>
                                            {% for type_of_subscription in subscription_types %}
                                                <option value="{{ type_of_subscription[0] }}">{{ type_of_subscription[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% if subject.teachers %}
                                {% for teacher in subject.teachers %}
                                    <div class="row">
                                        <label class="control-label col-md-3">{{ "Учителя:" if loop.first }}</label>
                                        <div class="col-md-6">
                                            <div class="form-control">
                                                <a class="spinner-trigger" style="color:#555;" href="{{ url_for('school.employees.show_edit_employee', employee_id=teacher.id) }}">
                                                    {{ teacher.last_name }} {{ teacher.first_name }} {{ teacher.patronym if teacher.patronym }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-sm" data-background-color="main">Сохранить</button>
                                <a href="{{ url_for('school.subjects.subjects') }}" class="btn btn-sm spinner-trigger" data-background-color="red">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}