{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Информация о сотруднике</h4>
            </div>
            <div class="card-content col-md-offset-1">

            <!-- *-*-*-*-*-*-*-*-*-* Employee information show *-*-*-*-*-*-*-*-*-* -->

                <div class="section section-employee" data-target="employee" style="{{ 'display:none' if render_type == 'edit' else 'display:block' }};">
                    <div class="row">
                        <h4 class="title" style="margin-bottom:27px;">{{ employee.last_name }} {{ employee.first_name }} {{ employee.patronym }}</h4>
                        <div class="form-group">
                            {% if employee.roles %}
                                <div class="row">
                                    <label class="control-label col-md-3">Должность:</label>
                                    <div class="col-md-6">
                                        <div class="form-control">
                                            {% for role in employee.roles %}
                                                <p>{{ role.role }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if employee.teacher %}
                                {% if employee.subjects_taught.all() %}
                                    <div class="row">
                                        <label class="control-label col-md-3">Предмет:</label>
                                        <div class="col-md-6">
                                            <div class="form-control">
                                                {% for subject in employee.subjects_taught %}
                                                    <p>{{ subject.name }} ({{ subject.subject_type.description }})</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if employee.teaching_classes %}
                                    <div class="row">
                                        <label class="control-label col-md-3">Классы:</label>
                                        <div class="col-md-6">
                                            <div class="form-control">
                                                {% for school_class in employee.teaching_classes %}
                                                    <p>{{ school_class.school_name }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <label class="control-label col-md-3">Цвет в расписании:</label>
                                    <div class="col-md-6">
                                        <input type="color" value="{{ employee.color }}" disabled>
                                    </div>
                                </div>
                            {% endif %}
                            {% if employee.children_info %}
                                <div class="row">
                                    <label class="control-label col-md-3">Дети:</label>
                                    <div class="col-md-6">
                                        <div class="form-control">
                                            {% for child in employee.children_info %}
                                                <p>
                                                    <a class="spinner-trigger" style="color:#555;" href="{{ url_for('school.show_edit_student', student_id=child[0]) }}">
                                                        {{ child[1] }}
                                                    </a>
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if employee.status %}
                                <div class="row">
                                    <label class="control-label col-md-3">Статус:</label>
                                    <div class="col-md-6">
                                        <div class="form-control">
                                            <a class="spinner-trigger" style="color:#555;" href="{{ url_for('school.show_edit_student', student_id=employee.id) }}">
                                                {{ employee.status_info }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <h4 class="title" style="margin-left: 27px;">Kонтакты</h4>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-3">Телеграм:</label>
                                <div class="col-md-6">
                                    <div class="form-control">{{ employee.contacts[0].telegram }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Телефон:</label>
                                <div class="col-md-6">
                                    <div class="form-control">{{ employee.contacts[0].phone }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Другое:</label>
                                <div class="col-md-6">
                                    <div class="form-control">{{ employee.contacts[0].other_contact }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if current_user.rights in ["admin", "user"] %}
                        <div class="footer" style="margin-left:30px;">
                            <div class="row">
                                <div class="col-md-2">
                                    <button class="btn btn-sm section-form-btn" style="background-color:#4BD1A0;">Изменить</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            <!-- *-*-*-*-*-*-*-*-*-* Employee information edit *-*-*-*-*-*-*-*-*-* -->

                <div class="form form-employee" data-target="employee" style="{{ 'display:block' if render_type == 'edit' else 'display:none' }};">
                    <form class="login-form" action="{{ url_for('school.show_edit_employee', employee_id=employee.id) }}" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group">
                                <div class="row {{ 'has-error' if form.last_name.errors }}">
                                    <label class="control-label col-md-3">Фамилия:</label>
                                    <div class="col-md-6">
                                        {{ form.last_name(class="form-control") }}
                                        {% for error in form.last_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row {{ 'has-error' if form.first_name.errors }}">
                                    <label class="control-label col-md-3">Имя:</label>
                                    <div class="col-md-6">
                                        {{ form.first_name(class="form-control") }}
                                        {% for error in form.first_name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Отчество:</label>
                                    <div class="col-md-6">
                                        {{ form.patronym(class="form-control") }}
                                    </div>
                                </div>
                                {% for role in employee.roles %}
                                    <div class="row employee-role">
                                        <label class="control-label col-md-3">{{ "Должность:" if loop.first }}</label>
                                        {% if role.role != "Учитель" %}
                                            <div class="col-md-5">
                                                <input type="text" name="role_{{ role.id }}" class="role-value" value="{{ role.role }}">
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger del-btn-sm delete-role">Удалить</button>
                                            </div>
                                            <input type="hidden" class="role-value" value="{{ role.role }}">
                                        {% elif employee.future_lessons %}
                                            <div class="col-md-6">
                                                <div class="form-control">{{ role.role }}</div>
                                            </div>
                                            <input type="hidden" name="role_{{ role.id }}" class="role-value" value="{{ role.role }}">
                                        {% else %}
                                            <div class="col-md-5">
                                                <div class="form-control">{{ role.role }}</div>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger del-btn-sm delete-role">Удалить</button>
                                            </div>
                                            <input type="hidden" name="role_{{ role.id }}" class="role-value" value="{{ role.role }}">
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="row" id="role-select-row">
                                    <label class="control-label col-md-3">Новая должность:</label>
                                    <div class="col-md-6">
                                        <select class="form-control role-select select-search-add" name="new_roles" placeholder="Добавить должность" multiple>
                                            {% for possible_role in possible_roles %}
                                                <option value="{{ possible_role[0] }}">{{ possible_role[0] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% if employee.teacher %}
                                    <div id="teacher-subjects-section">
                                        {% for subject in employee.subjects_taught %}
                                            <div class="row subject-row">
                                                <label class="control-label col-md-3">{{ "Предметы:" if loop.first }}</label>
                                                {% if subject.id in employee.lesson_subjects %}
                                                    <div class="col-md-6">
                                                        <div class="form-control">{{ subject.name }} ({{ subject.subject_type.description }})</div>
                                                    </div>
                                                    <input type="hidden" name="subject_{{ subject.id }}" class="subject-value" value="{{ subject.id }}">
                                                {% else %}
                                                    <div class="col-md-5">
                                                        <div class="form-control subject-name">{{ subject.name }} ({{ subject.subject_type.description }})</div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" class="btn btn-danger del-btn-sm delete-subject">Удалить</button>
                                                    </div>
                                                    <input type="hidden" name="subject_{{ subject.id }}" class="subject-value" value="{{ subject.id }}">
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                        <div class="row">
                                            <label class="control-label col-md-3">Новые предметы:</label>
                                            <div class="col-md-6">
                                                <select class="form-control select-search" name="new_subjects" id="subject-select" placeholder="Добавить предмет" multiple>
                                                    {% for possible_subject in possible_subjects %}
                                                        <option value="{{ possible_subject.id }}">{{ possible_subject.name }} ({{ possible_subject.subject_type.description }})</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        {% for school_class in employee.teaching_classes %}
                                            <div class="row school-row">
                                                <label class="control-label col-md-3">{{ "Классы:" if loop.first }}</label>
                                                <div class="col-md-5">
                                                    <div class="form-control school-name">{{ school_class.school_name }}</div>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" class="btn btn-danger del-btn-sm delete-school">Удалить</button>
                                                </div>
                                                <input type="hidden" name="school_class_{{ school_class.id }}" class="school-value" value="{{ school_class.id }}">
                                            </div>
                                        {% endfor %}
                                        <div class="row">
                                            <label class="control-label col-md-3">Добавить классы:</label>
                                            <div class="col-md-6">
                                                <select class="form-control select-search" name="new_classes" id="school-select" placeholder="Добавить класс" multiple>
                                                    {% for possible_class in possible_classes %}
                                                        <option value="{{ possible_class.id }}">{{ possible_class.school_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Цвет в расписании:</label>
                                            <div class="col-md-6">
                                                <input type="color" name="new_teacher_color" value="{{ employee.color }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div id="subjects-taught" style="display: none;">
                                    <div class="row">
                                        <label class="control-label col-md-3">Предметы:</label>
                                        <div class="col-md-6">
                                            <select name="subjects" class="form-control select-search" placeholder="Выбрать предмет" multiple>
                                                {% for subject in subjects %}
                                                    <option value="{{ subject.id }}">{{ subject.name }} ({{ subject.subject_type.description }})</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Классы:</label>
                                        <div class="col-md-6">
                                            <select name="classes" class="form-control select-search" placeholder="Выбрать класс" multiple>
                                                {% for school_class in school_classes %}
                                                    <option value="{{ school_class.id }}">{{ school_class.school_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Цвет в расписании:</label>
                                        <div class="col-md-6">
                                            <input type="color" name="teacher_color" value="#D9D9D9">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="title" style="margin-left: 27px;">Kонтакты</h4>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3">Телеграм:</label>
                                    <div class="col-md-6">
                                        <input type="text" name="telegram" class="form-control" value="{{ employee.contacts[0].telegram }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Телефон:</label>
                                    <div class="col-md-6">
                                        <input type="text" name="phone" class="form-control" value="{{ employee.contacts[0].phone }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Другое:</label>
                                    <div class="col-md-6">
                                        <input type="text" name="other_contact" class="form-control" value="{{ employee.contacts[0].other_contact }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer" style="margin-left:30px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-sm" data-background-color="main">Сохранить</button>
                                    <button type="button" class="btn btn-sm section-form-btn" data-background-color="red">Закрыть</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}