{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новый клиент</h4>
            </div>
            <div class="card-content">
                <div class="row" style="margin-left:10px;">
                    <button type="button" class="btn btn-default switch-button btn-success" data-target="form-1">Ребенок</button>
                    <button type="button" class="btn btn-default switch-button" data-target="form-2">Взрослый</button>
                </div>
                <form class="login-form target-table" id="form-1" action="{{ url_for('add_student') }}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Ребенок</h4>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3">Фамилия:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="last_name" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Имя:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="first_name" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Отчество:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="patronym" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Дата рождения:</label>
                                    <div class="col-md-3 datepicker-container">
                                        <input type="text" name="dob" class="form-control datepicker" placeholder="дд.мм.гггг">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Статус:</label>
                                    <div class="col-md-3">
                                        <select name="status" class="form-control" id="status-select">
                                            <option value="Клиент">Клиент</option>
                                            <option value="Лид">Лид</option>
                                            <option value="Пауза">Пауза</option>
                                            <option value="Закрыт">Закрыт</option>
                                        </select>
                                    </div>
                                    <div id="pause-date" style="display: none;">
                                        <label class="control-label col-md-1">до:</label>
                                        <div class="col-md-3">
                                            <input type="text" name="pause_until" class="form-control datepicker" placeholder="дд.мм.гггг">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="leaving-reason" style="display: none;">
                                        <label class="control-label col-md-3">Причина:</label>
                                        <div class="col-md-5">
                                            <textarea name="leaving_reason" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Контакты</h4>
                            <div id="contact-sections">
                                <div class="contact-section">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Контакт:</label>
                                            <div class="col-md-3">
                                                <select name="relation_1" class="form-control contact-relation">
                                                    <option value="Мама">Мама</option>
                                                    <option value="Папа">Папа</option>
                                                    <option value="Сам ребенок">Сам ребенок</option>
                                                    <option value="Другое">Другое контактное лицо</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="contact-radio-label" style="padding: 9px 25px">Основной контакт
                                                    <input type="radio" class="contact-radio" name="primary_contact"
                                                           value="contact_1" required checked>
                                                    <span class="custom-radio"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row relation-other-row" style="display: none;">
                                            <label class="control-label col-md-3">Контактное лицо:</label>
                                            <div class="col-md-4">
                                                <input type="text" name="other_relation_1" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row contact_selection">
                                            <label class="control-label col-md-3">Данные контактного лица:</label>
                                            <div class="col-md-3">
                                                <select name="contact_select_1" class="form-control contact-select">
                                                    <option value="Добавить">Добавить</option>
                                                    <option value="Выбрать">Выбрать из списка</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="contact-options-row" style="display: none;">
                                            <div class="row">
                                                <label class="control-label col-md-3">Контакты:</label>
                                                <div class="col-md-3">
                                                    <select name="selected_contact_1" class="form-control contact-options">
                                                        {% for client in clients %}
                                                            <option value="{{ client.id }}">{{ client.last_name }} {{ client.first_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="client-information client-info-basic"></div>
                                            <div class="client-information client-info-contacts"></div>
                                        </div>
                                        <div class="contact-information" style="display: none;">
                                            <div class="contact-info">
                                                <div class="row">
                                                    <label class="control-label col-md-3">Фамилия:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_last_name_1" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-3">Имя:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_first_name_1" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-3">Отчество:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_patronym_1" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телеграм:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="telegram_1" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телефон:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="phone_1" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Другое:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="other_contact_1" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="contact_count" id="contact-count" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div id="add-contact">
                            <div class="col-md-3">
                                <button type="button" id="add-contact-btn" class="btn btn-default" style="background-color: #ff9800;;">Добавить контакт</button>
                            </div>
                        </div>
                        <div id="remove-contact" style="display: none;">
                            <div class="col-md-3">
                                <button type="button" id="remove-contact-btn" class="btn btn-danger">Удалить контакт</button>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" name="add_child_btn" class="btn btn-login" id="submit-btn" style="background-color:#4BD1A0;">Добавить клиента</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="login-form target-table" id="form-2" action="{{ url_for('add_student') }}" method="post" style="display: none;">
                    <div class="client-section">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="title">Взрослый</h4>
                                <div class="form-group">
                                    <div class="row contact_selection">
                                        <label class="control-label col-md-3">Данные клиента:</label>
                                        <div class="col-md-3">
                                            <select name="client_select" class="form-control client-select">
                                                <option value="Добавить">Добавить</option>
                                                <option value="Выбрать">Выбрать из списка</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="client-options-row" style="display: none;">
                                        <div class="row">
                                            <label class="control-label col-md-3">Контакты:</label>
                                            <div class="col-md-3">
                                                <select name="selected_client" class="form-control client-options">
                                                    {% for client in possible_clients %}
                                                        <option value="{{ client.id }}">{{ client.last_name }} {{ client.first_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="client-information client-info-basic"></div>
                                    </div>
                                    <div class="client-input" style="display: none;">
                                        <div class="row">
                                            <label class="control-label col-md-3">Фамилия:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="last_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Имя:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Отчество:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="patronym" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="client-status">
                                        <div class="row">
                                            <label class="control-label col-md-3">Статус:</label>
                                            <div class="col-md-3">
                                                <select name="status" class="form-control" id="status-select-adult">
                                                    <option value="Клиент">Клиент</option>
                                                    <option value="Лид">Лид</option>
                                                    <option value="Пауза">Пауза</option>
                                                    <option value="Закрыт">Закрыт</option>
                                                </select>
                                            </div>
                                            <div id="pause-date-adult" style="display: none;">
                                                <label class="control-label col-md-1">до:</label>
                                                <div class="col-md-3">
                                                    <input type="text" name="pause_until" class="form-control datepicker" placeholder="дд.мм.гггг">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="leaving-reason-adult" style="display: none;">
                                                <label class="control-label col-md-3">Причина:</label>
                                                <div class="col-md-5">
                                                    <textarea name="leaving_reason" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="client-information client-info-contacts" style="display: none;"></div>
                        <div class="client-input" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="title">Контакты</h4>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Телеграм:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="telegram_" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Телефон:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="phone_" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Другое:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="other_contact_" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" name="add_adult_btn" class="btn btn-login" style="background-color:#4BD1A0;">Добавить клиента</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var clientsData = {{ clients | tojson | safe }};
</script>
{% endblock %}
