{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новое занятие</h4>
            </div>
            <div class="card-content">
                <form class="lesson-form" action="{{ url_for('add_lessons') }}" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div id="lesson-sections">
                            <div class="form-group">
                                <div class="row {{ 'has-error' if form.lesson_date.errors }}">
                                    <label class="control-label col-md-3">Дата:</label>
                                    <div class="col-md-3">
                                        {{ form.lesson_date(class="form-control datepicker", placeholder="дд.мм.гггг") }}
                                        {% for error in form.lesson_date.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% for lesson_form in form.lessons %}
                                <div class="lesson-section">
                                    <h4 class="title" style="text-align: center;">Занятие {{ loop.index }}</h4>
                                    <div class="form-group">
                                        <div class="row {{ 'has-error' if lesson_form.start_time.errors }}">
                                            <label class="control-label col-md-3">Начало:</label>
                                            <div class="col-md-3">
                                                <input type="text" name="lesson_start_time-0" class="form-control timepicker-input">
                                                {{ lesson_form.start_time(class="timepicker-value", style="display: none;") }}
                                                {% for error in lesson_form.start_time.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row {{ 'has-error' if lesson_form.end_time.errors }}">
                                            <label class="control-label col-md-3">Конец:</label>
                                            <div class="col-md-3">
                                                <input type="text" name="lesson_end_time-0" class="form-control timepicker-input">
                                                {{ lesson_form.end_time(class="timepicker-value", style="display: none;") }}
                                                {% for error in lesson_form.end_time.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row {{ 'has-error' if lesson_form.subject.errors }}">
                                            <label class="control-label col-md-3">Предмет:</label>
                                            <div class="col-md-6">
                                                {{ lesson_form.subject(class="form-control subject-select select-search") }}
                                                {% for error in lesson_form.subject.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row school-class-row" style="display: none;">
                                            <label class="control-label col-md-3">Класс:</label>
                                            <div class="col-md-6">
                                                {{ lesson_form.school_classes(class="form-control classes-select select-search", placeholder="Выбрать классы") }}
                                            </div>
                                            <button type="button" class="btn btn-success btn-xs add-classes-btn" style="margin: 4px 0;">Все классы</button>
                                        </div>
                                        <div class="row school-class-row" style="display: none;">
                                            <div class="col-md-6 col-md-offset-3 checkbox-option">
                                                <label class="contact-radio-label">Разделить классы
                                                    {{ lesson_form.split_classes }}
                                                    <span class="custom-checkbox"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row {{ 'has-error' if lesson_form.room.errors }}">
                                            <label class="control-label col-md-3">Кабинет:</label>
                                            <div class="col-md-6">
                                                {{ lesson_form.room(class="form-control select-search") }}
                                                {% for error in lesson_form.room.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row {{ 'has-error' if lesson_form.teacher.errors }}">
                                            <label class="control-label col-md-3">Учитель:</label>
                                            <div class="col-md-6">
                                                {{ lesson_form.teacher(class="form-control teacher-select select-search") }}
                                                {% for error in lesson_form.teacher.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            <button type="button" class="btn btn-success btn-xs add-teachers-btn" style="margin: 4px 0;">Все учителя</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <input type="hidden" id="lesson-count" value="{{ form.lessons|length }}">
                        </div>
                    </div>
                    <input type="hidden" id="school-type" value="{{ school_type }}">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="add-lesson-btn" class="btn btn-sm btn-default" style="background-color: #ff9800;">Добавить занятие</button>
                            <button type="button" id="remove-lesson-btn" class="btn btn-sm btn-danger" style="display: none;">Удалить занятие</button>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-sm" id="submit-lesson-btn" data-background-color="main">Добавить в расписание</button>
                                <a href="{{ url_for('timetable', week=0) }}" class="btn btn-sm" data-background-color="red">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var subjectsData = {{ subjects | tojson | safe }};
    var teachersData = {{ teachers | tojson | safe }};
    var classesData = {{ school_classes | tojson | safe }};
</script>
{% endblock %}