{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новый клиент</h4>
            </div>
            <div class="card-content">
                <div class="row" style="margin-left:10px;">
                    <button type="button"
                            class="btn btn-sm btn-default switch-button {{ 'btn-success' if render_type == 'child' }}"
                            data-target="form-1"
                            style="width:80px; padding: 5px 5px;">
                        Ребенок
                    </button>
                    <button type="button"
                            class="btn btn-sm btn-default switch-button {{ 'btn-success' if render_type == 'adult' }}"
                            data-target="form-2"
                            style="width:80px; padding: 5px 5px;">
                        Взрослый
                    </button>
                </div>
                <form class="login-form target-table" id="form-1" action="{{ url_for('add_student') }}" method="post" style="{{ 'display:block' if render_type == 'child' else 'display:none' }};" novalidate>
                    {{ form1.hidden_tag() }}
                    <div class="row">
                        <h4 class="title" style="margin-left: 27px;">Ребенок</h4>
                        <div class="form-group">
                            <div class="row {{ 'has-error' if form1.last_name.errors }}">
                                <label class="control-label col-md-3">Фамилия:</label>
                                <div class="col-md-6">
                                    {{ form1.last_name(class="form-control") }}
                                    {% for error in form1.last_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form1.first_name.errors }}">
                                <label class="control-label col-md-3">Имя:</label>
                                <div class="col-md-6">
                                    {{ form1.first_name(class="form-control") }}
                                    {% for error in form1.first_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Отчество:</label>
                                <div class="col-md-6">
                                    {{ form1.patronym(class="form-control") }}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form1.dob.errors }}">
                                <label class="control-label col-md-3">Дата рождения:</label>
                                <div class="col-md-2 datepicker-container">
                                    {{ form1.dob(class="form-control datepicker", placeholder="дд.мм.гггг") }}
                                    {% for error in form1.dob.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Статус:</label>
                                <div class="col-md-3">
                                    {{ form1.status(class="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="title" style="margin-left: 27px;">Контакты</h4>
                        <div id="contact-sections">
                            {% for contact_form in form1.contacts %}
                                <div class="contact-section">
                                    <h5 class="title" style="margin-left: 54px;">{% if loop.first %}Основной контакт{% else %}Дополнилельный контакт {{ loop.index0 }}{% endif %}</h5>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Контакт:</label>
                                            <div class="col-md-6">
                                                {{ contact_form.relation(class="form-control contact-relation") }}
                                            </div>
                                        </div>
                                        <div class="row relation-other-row" style="display: none;">
                                            <label class="control-label col-md-3"></label>
                                            <div class="col-md-6">
                                                {{ contact_form.other_relation(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="contact-selection">
                                            <div class="row">
                                                <label class="control-label col-md-3">Данные контактного лица:</label>
                                                <div class="col-md-6">
                                                    {{ contact_form.contact_select(class="form-control contact-select") }}
                                                </div>
                                            </div>
                                            <div class="row contact-options-row {{ 'has-error' if contact_form.selected_contact.errors }}" style="display: none; margin-bottom: 10px;">
                                                <label class="control-label col-md-3"></label>
                                                <div class="col-md-6">
                                                    {{ contact_form.selected_contact(class="form-control contact-options select-search") }}
                                                    {% for error in contact_form.selected_contact.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="contact-information person-info-basic"></div>
                                            <div class="contact-information person-info-contacts"></div>
                                        </div>
                                        <div class="contact-input" style="display: none;">
                                            <div class="contact-info">
                                                <div class="row {{ 'has-error' if contact_form.parent_last_name.errors }}">
                                                    <label class="control-label col-md-3">Фамилия:</label>
                                                    <div class="col-md-6">
                                                        {{ contact_form.parent_last_name(class="form-control") }}
                                                        {% for error in contact_form.parent_last_name.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row {{ 'has-error' if contact_form.parent_first_name.errors }}">
                                                    <label class="control-label col-md-3">Имя:</label>
                                                    <div class="col-md-6">
                                                        {{ contact_form.parent_first_name(class="form-control") }}
                                                        {% for error in contact_form.parent_first_name.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-3">Отчество:</label>
                                                    <div class="col-md-6">
                                                        {{ contact_form.parent_patronym(class="form-control") }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телеграм:</label>
                                                <div class="col-md-6">
                                                    {{ contact_form.telegram(class="form-control") }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телефон:</label>
                                                <div class="col-md-6">
                                                    {{ contact_form.phone(class="form-control") }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Другое:</label>
                                                <div class="col-md-6">
                                                    {{ contact_form.other_contact(class="form-control") }}
                                                </div>
                                            </div>
                                        </div>
                                        {% if loop.first %}
                                            {{ contact_form.primary_contact(value="true") }}
                                        {% else %}
                                            {{ contact_form.primary_contact(value="") }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <input type="hidden" id="contact-count" value="{{ form1.contacts|length }}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button" id="add-contact-btn" class="btn btn-sm" data-background-color="orange">Добавить контакт</button>
                            <button type="button" id="remove-contact" class="btn btn-sm" data-background-color="red" style="{{ 'display:none' if form1.contacts|length == 1 else 'display:inline-block' }};">Удалить контакт</button>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" name="add_child_btn" class="btn btn-sm" data-background-color="main">Добавить клиента</button>
                                <a href="{{ url_for('students') }}" class="btn btn-sm" data-background-color="red">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>

                <form class="login-form target-table" id="form-2" action="{{ url_for('add_student') }}" method="post" style="{{ 'display:block' if render_type == 'adult' else 'display:none' }};" novalidate>
                    {{ form2.hidden_tag() }}
                    <div class="client-section">
                        <div class="row">
                            <h4 class="title" style="margin-left:27px;">Взрослый</h4>
                            <div class="form-group">
                                <div class="row contact_selection">
                                    <label class="control-label col-md-3">Данные клиента:</label>
                                    <div class="col-md-5">
                                        {{ form2.client_select(class="form-control client-select") }}
                                    </div>
                                </div>
                                <div class="client-options-row" style="display: none;">
                                    <div class="row {{ 'has-error' if form2.selected_client.errors }}">
                                        <label class="control-label col-md-3"></label>
                                        <div class="col-md-5">
                                            {{ form2.selected_client(class="form-control client-options select-search") }}
                                            {% for error in form2.selected_client.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="client-information person-info-basic"></div>
                                </div>
                                <div class="client-input" style="display: none;">
                                    <div class="row {{ 'has-error' if form2.last_name.errors }}">
                                        <label class="control-label col-md-3">Фамилия:</label>
                                        <div class="col-md-5">
                                            {{ form2.last_name(class="form-control") }}
                                            {% for error in form2.last_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row {{ 'has-error' if form2.first_name.errors }}">
                                        <label class="control-label col-md-3">Имя:</label>
                                        <div class="col-md-5">
                                            {{ form2.first_name(class="form-control") }}
                                            {% for error in form2.first_name.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Отчество:</label>
                                        <div class="col-md-5">
                                            {{ form2.patronym(class="form-control") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Статус:</label>
                                    <div class="col-md-3">
                                        {{ form2.status(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <h4 class="title" style="margin-left:27px;">Контакты</h4>
                            <div class="form-group">
                                <div class="client-information person-info-contacts" style="display: none;"></div>
                                <div class="client-input" style="display: none;">
                                    <div class="row">
                                        <label class="control-label col-md-3">Телеграм:</label>
                                        <div class="col-md-5">
                                            {{ form2.telegram(class="form-control") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Телефон:</label>
                                        <div class="col-md-5">
                                            {{ form2.phone(class="form-control") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Другое:</label>
                                        <div class="col-md-5">
                                            {{ form2.other_contact(class="form-control") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" name="add_adult_btn" class="btn btn-sm" data-background-color="main">Добавить клиента</button>
                                <a href="{{ url_for('students') }}" class="btn btn-sm" data-background-color="red">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var clientsData = {{ clients | tojson | safe }};
</script>
{% endblock %}
