{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новый урок</h4>
            </div>
            <div class="card-content">
                <form class="login-form" action="{{ url_for('add_lesson') }}" method="post">
                    <div class="form-group">
                        <div class="row">
                            <label class="control-label col-md-3">Дата:</label>
                            <div class="col-md-3">
                                <input type="text" name="lesson_date" class="form-control datepicker" placeholder="дд.мм.гггг">
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3">Время:</label>
                            <div class="col-md-3">
                                <input type="text" name="lesson_time" class="form-control timepicker">
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3">Предмет:</label>
                            <div class="col-md-5">
                                <select name="subject" class="form-control">
                                    {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3">Кабинет:</label>
                            <div class="col-md-5">
                                <select name="room" class="form-control">
                                    {% for room in rooms %}
                                        <option value="{{ room.id }}">{{ room.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-3">Учитель:</label>
                            <div class="col-md-5">
                                <select name="teacher" class="form-control">
                                    {% for teacher in teachers %}
                                        <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-login" id="submit-btn" style="background-color:#4BD1A0;">Добавить урок</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}