{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новый сотрудник</h4>
            </div>
            <div class="card-content">
                <form class="login-form" action="{{ url_for('add_employee') }}" method="post">
                    <div class="employee-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row contact_selection">
                                        <label class="control-label col-md-3">Данные сотрудника:</label>
                                        <div class="col-md-3">
                                            <select name="employee_select" class="form-control employee-select">
                                                <option value="Добавить">Добавить</option>
                                                <option value="Выбрать">Выбрать из списка</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="employee-options-row" style="display: none;">
                                        <div class="row">
                                            <label class="control-label col-md-3"></label>
                                            <div class="col-md-5">
                                                <select name="selected_person" class="form-control employee-options select-search">
                                                    {% for person in possible_employees %}
                                                        <option value="{{ person.id }}">{{ person.last_name }} {{ person.first_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="employee-information person-info-basic"></div>
                                    </div>
                                    <div class="employee-input" style="display: none;">
                                        <div class="row">
                                            <label class="control-label col-md-3">Фамилия:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="last_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Имя:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="first_name" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Отчество:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="patronym" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="dropdown-container">
                                        <div class="row">
                                            <label class="control-label col-md-3">Должность:</label>
                                            <div class="col-md-5">
                                                <div class="dropdown">
                                                    <button class="form-control dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown">
                                                        Должности
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu" style="width: 100%;">
                                                        <li>
                                                            <div class="checkbox-option">
                                                                <label class="contact-radio-label">
                                                                    <input type="checkbox"  id="teacher-checkbox" name="role_teacher" value="учитель">
                                                                    <span class="custom-checkbox"></span>учитель
                                                                </label>
                                                            </div>
                                                        </li>
                                                        {% for role in roles %}
                                                            <li>
                                                                <div class="checkbox-option">
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox"  name="role_{{ loop.index }}" value="{{ role[0] }}">
                                                                        <span class="custom-checkbox"></span>{{ role[0] }}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Выбранные должности:</label>
                                            <div class="selected-options col-md-5"></div>
                                        </div>
                                    </div>

                                    <div class="dropdown-container" id="subjects-taught" style="display: none;">
                                        <div class="row">
                                            <label class="control-label col-md-3">Занятия:</label>
                                            <div class="col-md-5">
                                                <div class="dropdown">
                                                    <button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                        Занятия
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 100%;">
                                                        {% for subject in subjects %}
                                                            <li>
                                                                <div class="checkbox-option">
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox"  name="subject_{{ loop.index }}" value="{{ subject[0] }}">
                                                                        <span class="custom-checkbox"></span>{{ subject[1] }}
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Выбранные занятия:</label>
                                            <div class="selected-options col-md-5"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="employee-information person-info-contacts" style="display: none;"></div>
                        <div class="employee-input" style="display: none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="title">Контакты</h4>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Телеграм:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="telegram_" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Телефон:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="phone_" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Другое:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="other_contact_" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-login" style="background-color:#4BD1A0;">Добавить сотрудника</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var clientsData = {{ possible_employees | tojson | safe }};
</script>
{% endblock %}
