{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Новое расписание</h4>
            </div>
            <div class="card-content">
                <form class="login-form" action="{{ url_for('copy_lessons') }}" method="post">
                    <div class="form-group">
                        <div class="selectors-group">
                            <div class="row">
                                <label class="control-label col-md-3">Перенести с:</label>
                                <div class="col-md-3">
                                    <select name="week" class="form-control main-selector">
                                        <option value="0">Этой недели</option>
                                        <option value="-1">Предыдущей недели</option>
                                        <option value="specific">Выбрать неделю</option>
                                    </select>
                                </div>
                                <div class="col-md-4 datepicker-container secondary-selector-div" style="display: none;">
                                    <input type="text" name="week_specific" class="form-control datepicker" placeholder="Неделя, с которой перенести...">
                                </div>
                            </div>
                            <div class="row secondary-selector-div" style="display: none;">
                                <label class="control-label col-md-3">Выбранная неделя:</label>
                                <div class="col-md-3">
                                    <p class="form-control week-range"></p>
                                </div>
                            </div>
                        </div>
                        <div class="selectors-group">
                            <div class="row">
                                <label class="control-label col-md-3">Перенести на:</label>
                                <div class="col-md-3">
                                    <select name="next_week" class="form-control main-selector">
                                        <option value="1">Следующую неделю</option>
                                        <option value="0">Эту неделю</option>
                                        <option value="specific">Выбрать неделю</option>
                                    </select>
                                </div>
                                <div class="col-md-4 datepicker-container secondary-selector-div" style="display: none;">
                                    <input type="text" name="next_week_specific" class="form-control datepicker" placeholder="Неделя, на которую перенести...">
                                </div>
                            </div>
                            <div class="row secondary-selector-div" style="display: none;">
                                <label class="control-label col-md-3">Выбранная неделя:</label>
                                <div class="col-md-3">
                                    <p class="form-control week-range"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row selectors-group">
                            <label class="control-label col-md-3">День:</label>
                            <div class="col-md-3">
                                <select name="lessons_days" class="form-control main-selector">
                                    <option value="all">Вся неделя</option>
                                    <option value="specific">Выбрать дни</option>
                                </select>
                            </div>
                            <div class="col-md-4 secondary-selector-div" style="display: none;">
                                <select name="lessons_days_specific" placeholder="Выбрать дни" class="form-control select-search" multiple>
                                    {% for day in days %}
                                        <option value="{{ loop.index0 }}">{{ day }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row selectors-group">
                            <label class="control-label col-md-3">Тип занятий:</label>
                            <div class="col-md-3">
                                <select name="subject_types" class="form-control main-selector">
                                    <option value="all">Все занятия</option>
                                    <option value="specific">Выбрать типы занятий</option>
                                </select>
                            </div>
                            <div class="col-md-4 secondary-selector-div" style="display: none;">
                                <select id="subject-type-select" name="subject_types_specific" placeholder="Выбрать типы занятий" class="form-control select-search" multiple>
                                    {% for subject_type in subject_types %}
                                        <option value="{{ subject_type.id }}">{{ subject_type.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row selectors-group" id="school-class-row" style="display: none;">
                            <label class="control-label col-md-3">Классы:</label>
                            <div class="col-md-3">
                                <select name="school_classes" class="form-control main-selector">
                                    <option value="all">Все классы</option>
                                    <option value="specific">Выбрать классы</option>
                                </select>
                            </div>
                            <div class="col-md-4 secondary-selector-div" style="display: none;">
                                <select name="school_classes_specific" placeholder="Выбрать классы" class="form-control select-search" multiple>
                                    {% for school_class in school_classes %}
                                        <option value="{{ school_class.id }}">{{ school_class.school_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row selectors-group">
                            <label class="control-label col-md-3">Кабинет:</label>
                            <div class="col-md-3">
                                <select name="rooms" class="form-control main-selector">
                                    <option value="all">Все кабинеты</option>
                                    <option value="specific">Выбрать кабинеты</option>
                                </select>
                            </div>
                            <div class="col-md-4 secondary-selector-div" style="display: none;">
                                <select name="rooms_specific" placeholder="Выбрать кабинеты" class="form-control select-search" multiple>
                                    {% for room in rooms %}
                                        <option value="{{ room.id }}">{{ room.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row selectors-group">
                            <label class="control-label col-md-3">Учитель:</label>
                            <div class="col-md-3">
                                <select name="teachers" class="form-control main-selector">
                                    <option value="all">Все учителя</option>
                                    <option value="specific">Выбрать учителей</option>
                                </select>
                            </div>
                            <div class="col-md-4 secondary-selector-div" style="display: none;">
                                <select name="teachers_specific" placeholder="Выбрать учителей" class="form-control select-search" multiple>
                                    {% for teacher in teachers %}
                                        <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.first_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <input type="hidden" id="school-type" value="{{ school.id }}">
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-login" id="submit-btn" style="background-color:#4BD1A0;">Заполнить расписание</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('timetable', week=0) }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}