{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Изменить данные о клиенте</h4>
            </div>
            <div class="card-content">
                <form class="login-form" action="{{ url_for('edit_student', student_id=student.id) }}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Ребенок</h4>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3">Фамилия:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="last_name" class="form-control" value="{{ student.last_name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Имя:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="first_name" class="form-control" value="{{ student.first_name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Отчество:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="patronym" class="form-control" value="{{ student.patronym }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Дата рождения:</label>
                                    <div class="col-md-3 datepicker-container">
                                        <input type="text" name="dob" class="form-control datepicker" placeholder="дд.мм.гггг" value="{{ student.birth_date }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Статус:</label>
                                    <div class="col-md-3">
                                        <select name="status" class="form-control" id="status-select">
                                            <option value="Клиент">Клиент</option>
                                            <option value="Лид">Лид</option>
                                            <option value="Пауза">Пауза</option>
                                            <option value="Закрыт">Закрыт</option>
                                        </select>
                                    </div>
                                    <script type="text/javascript">
                                        var studentStatus = "{{ student.status }}";
                                        var statusSelect = document.getElementById("status-select");
                                        statusSelect.value = studentStatus;
                                    </script>
                                    <div id="pause-date" style="display: none;">
                                        <label class="control-label col-md-1">до:</label>
                                        <div class="col-md-3">
                                            <input type="text" name="pause_until" class="form-control datepicker" placeholder="дд.мм.гггг" value="{{ student.pause_date }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="leaving-reason" style="display: none;">
                                        <label class="control-label col-md-3">Причина:</label>
                                        <div class="col-md-5">
                                            <textarea name="leaving_reason" class="form-control">{{ student.leaving_reason }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" name="form1_submit" class="btn btn-login" style="background-color:#4BD1A0;">Сохранить</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" id="show-contacts-btn" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">people</i> Контакты
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="show-subjects-btn" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">school</i> Занятия
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="show-subscriptions-btn" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">ballot</i> Абонементы
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12" id="show-contacts" style="display: none;">
                        <h4 class="title">Kонтакты</h4>
                        <div id="contact-sections">
                            <h5 class="title" style="margin-left: 12px; margin-top: 12px; font-size: 1.1em;">Основной контакт</h5>
                            <div class="form-group" id="contact-info-1" style="margin-top: 12px;">
                                {% if student.main_contact.id!=student.id %}
                                    <div class="row">
                                        <label class="control-label col-md-3">Контактное лицо:</label>
                                        <div class="col-md-5">
                                            <p>{{ student.main_contact.type }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Фамилия:</label>
                                        <div class="col-md-5">
                                            <p>{{ student.main_contact.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Имя:</label>
                                        <div class="col-md-5">
                                            <p>{{ student.main_contact.first_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Отчество:</label>
                                        <div class="col-md-5">
                                            <p>{{ student.main_contact.patronym }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <label class="control-label col-md-3">Телеграм:</label>
                                    <div class="col-md-3">
                                        <p>{{ student.main_contact.contacts[0].telegram }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Телефон:</label>
                                    <div class="col-md-3">
                                        <p>{{ student.main_contact.contacts[0].phone }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Другое:</label>
                                    <div class="col-md-3">
                                        <p>{{ student.main_contact.contacts[0].other_contact }}</p>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button class="btn btn-login change_contact_btn" style="background-color:#4BD1A0;">Изменить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form class="login-form" id="contact-form-1" action="{{ url_for('edit_student', student_id=student.id) }}" method="post" style="display: none;">
                                <div class="form-group">
                                    <div class="row">
                                        <label class="control-label col-md-3">Контактное лицо:</label>
                                        <div class="col-md-3">
                                            <select name="relation_1" class="form-control contact-relation" id="relation-select-1">
                                                <option value="Мама">Мама</option>
                                                <option value="Папа">Папа</option>
                                                <option value="Сам ребенок">Сам ребенок</option>
                                                <option value="Другое">Другое контактное лицо</option>
                                            </select>
                                        </div>
                                        <script type="text/javascript">
                                            var mainContactType = "{{ student.main_contact.type }}"
                                            var relationSelect = document.getElementById("relation-select-1");
                                            if (mainContactType !== "Мама" && mainContactType !== "Папа" && mainContactType !== "Сам ребенок") {
                                                relationSelect.value = "Другое";
                                            } else {
                                                relationSelect.value = mainContactType;
                                            }
                                        </script>
                                    </div>
                                    <div class="row relation-other-row" style="display: none;">
                                        <label class="control-label col-md-3">Контактное лицо:</label>
                                        <div class="col-md-4">
                                            <input type="text" name="other_relation_1" class="form-control" value="{{ student.main_contact.type }}">
                                        </div>
                                    </div>
                                    <div class="contact-info">
                                        <div class="row">
                                            <label class="control-label col-md-3">Фамилия:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="parent_last_name_1" class="form-control" value="{{ student.main_contact.last_name }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Имя:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="parent_first_name_1" class="form-control" required value="{{ student.main_contact.first_name }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Отчество:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="parent_patronym_1" class="form-control" value="{{ student.main_contact.patronym }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Телеграм:</label>
                                        <div class="col-md-5">
                                            <input type="text" name="telegram_1" class="form-control" value="{{ student.main_contact.contacts[0].telegram }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Телефон:</label>
                                        <div class="col-md-5">
                                            <input type="text" name="phone_1" class="form-control" value="{{ student.main_contact.contacts[0].phone }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Другое:</label>
                                        <div class="col-md-5">
                                            <input type="text" name="other_contact_1" class="form-control" value="{{ student.main_contact.contacts[0].other_contact }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <button type="submit" name="contact_form_1_submit" class="btn btn-login" style="background-color:#4BD1A0;">Сохранить</button>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default cancel_form_btn" style="background-color:#ef5350;">Отменить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>

                            {% if student.additional_contacts %}
                                <h5 class="title" style="margin-left: 12px; margin-top: 12px; font-size: 1.1em;">Дополнительные контакты</h5>
                                {% for contact in student.additional_contacts %}
                                    <div class="form-group" id="contact-info-{{ loop.index + 1 }}" style="margin-top: 12px;">
                                        {% if contact.id!=student.id %}
                                            <div class="row">
                                                <label class="control-label col-md-3">Контактное лицо:</label>
                                                <div class="col-md-5">
                                                    <p>{{ contact.type }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Фамилия:</label>
                                                <div class="col-md-5">
                                                    <p>{{ contact.last_name }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Имя:</label>
                                                <div class="col-md-5">
                                                    <p>{{ contact.first_name }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Отчество:</label>
                                                <div class="col-md-5">
                                                    <p>{{ contact.patronym }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <label class="control-label col-md-3">Телеграм:</label>
                                            <div class="col-md-3">
                                                <p>{{ contact.contacts[0].telegram }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Телефон:</label>
                                            <div class="col-md-3">
                                                <p>{{ contact.contacts[0].phone }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Другое:</label>
                                            <div class="col-md-3">
                                                <p>{{ contact.contacts[0].other_contact }}</p>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button class="btn btn-login change_contact_btn" style="background-color:#4BD1A0;">Изменить</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="" class="btn btn-danger">
                                                        <i class="material-icons" style="color: white;">delete_forever</i>Удалить контакт
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <form class="login-form" id="contact-form-{{ loop.index + 1 }}" action="{{ url_for('edit_student', student_id=student.id) }}" method="post" style="display: none;">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="control-label col-md-3">Контактное лицо:</label>
                                                <div class="col-md-3">
                                                    <select name="relation_{{ loop.index + 1 }}" class="form-control contact-relation">
                                                        <option value="Мама">Мама</option>
                                                        <option value="Папа">Папа</option>
                                                        <option value="Сам ребенок">Сам ребенок</option>
                                                        <option value="Другое">Другое контактное лицо</option>
                                                    </select>
                                                </div>
                                                <script type="text/javascript">
                                                    var mainContactType = "{{ contact.type }}";
                                                    var relationSelect = document.querySelector('[name="relation_{{ loop.index + 1 }}"]');
                                                    if (mainContactType !== "Мама" && mainContactType !== "Папа" && mainContactType !== "Сам ребенок") {
                                                        relationSelect.value = "Другое";
                                                    } else {
                                                        relationSelect.value = mainContactType;
                                                    }
                                                </script>
                                                <div class="col-md-3">
                                                    <label class="contact-radio-label" style="padding: 9px 25px">Сделать основным
                                                        <input type="checkbox" name="primary_contact" value="contact_{{ loop.index + 1 }}">
                                                        <span class="custom-checkbox"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row relation-other-row" style="display: none;">
                                                <label class="control-label col-md-3">Контактное лицо:</label>
                                                <div class="col-md-4">
                                                    <input type="text" name="other_relation_{{ loop.index + 1 }}" class="form-control" value="{{ contact.type }}">
                                                </div>
                                            </div>
                                            <div class="contact-info">
                                                <div class="row">
                                                    <label class="control-label col-md-3">Фамилия:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_last_name_{{ loop.index + 1 }}" class="form-control" value="{{ contact.last_name }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-3">Имя:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_first_name_{{ loop.index + 1 }}" class="form-control" required value="{{ contact.first_name }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-3">Отчество:</label>
                                                    <div class="col-md-5">
                                                        <input type="text" name="parent_patronym_{{ loop.index + 1 }}" class="form-control" value="{{ contact.patronym }}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телеграм:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="telegram_{{ loop.index + 1 }}" class="form-control" value="{{ contact.contacts[0].telegram }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Телефон:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="phone_{{ loop.index + 1 }}" class="form-control" value="{{ contact.contacts[0].phone }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Другое:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="other_contact_{{ loop.index + 1 }}" class="form-control" value="{{ contact.contacts[0].other_contact }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button type="submit" name="contact_form_{{ loop.index + 1 }}_submit" class="btn btn-login" style="background-color:#4BD1A0;">Сохранить</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-default cancel_form_btn" style="background-color:#ef5350;">Отменить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" id="show-subjects" style="display: none;">
                        <h4 class="title">Занятия</h4>
                        <div class="form-group" style="margin-top: 12px;">
                            {% if student.subjects %}
                                <div class="row">
                                    {% if student.status=="Лид"%}
                                        <label class="control-label col-md-3">Интересуется:</label>
                                    {% else %}
                                        <label class="control-label col-md-3">Посещал:</label>
                                    {% endif %}
                                    <div class="col-md-5">
                                        {% for subject in student.subjects %}
                                            <p style="padding: 12px 12px 0; margin: 0;">{{ subject.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <p>Занятий пока нет</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12" id="show-subscriptions" style="display: none;">
                        <h4 class="title">Абонементы</h4>
                        <div class="form-group" style="margin-top: 12px;">
                            {% if student.subscriptions_info %}
                                <div class="col-md-6">
                                    <table class="table table-hover">
                                        <thead class="text-success">
                                            <th>Занятие</th>
                                            <th>Остаток уроков</th>
                                            <th>Срок действия</th>
                                        </thead>
                                        <tbody>
                                            {% for subscription in student.subscriptions_info %}
                                                <tr>
                                                    <td>{{ subscription.subject_name }}</td>
                                                    <td>{{ subscription.lessons_left }}</td>
                                                    <td>{{ subscription.end_date }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="row">
                                    <p>Абонементов пока нет</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Завершить изменения</a>
    </div>
</div>
{% endblock %}
