{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                {% if lesson.lesson_type.name == "school" %}
                    <h4 class="title">{{ lesson.subject.name }}. {{ lesson.classes }}</h4>
                {% else %}
                    <h4 class="title">{{ lesson.subject.name }} ({{ lesson.lesson_type.description }})</h4>
                {% endif %}
            </div>
            <div class="card-content">
                <form class="lesson-form" action="{{ url_for('edit_lesson', lesson_id=lesson.id) }}" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <h4 class="title" style="margin-left:27px;">Изменить занятие</h4>
                        <div class="form-group">
                            <div class="row {{ 'has-error' if form.lesson_date.errors }}">
                                <label class="control-label col-md-3">Дата:</label>
                                <div class="col-md-3">
                                    {{ form.lesson_date(class="form-control datepicker", placeholder="дд.мм.гггг") }}
                                    {% for error in form.lesson_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form.start_time.errors }}">
                                <label class="control-label col-md-3">Начало:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control timepicker-input">
                                    {{ form.start_time(class="timepicker-value", style="display:none;") }}
                                    {% for error in form.start_time.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form.end_time.errors }}">
                                <label class="control-label col-md-3">Конец:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control timepicker-input">
                                    {{ form.end_time(class="timepicker-value", style="display:none;") }}
                                    {% for error in form.end_time.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row {{ 'has-error' if form.room.errors }}">
                                <label class="control-label col-md-3">Кабинет:</label>
                                <div class="col-md-6">
                                    {{ form.room(class="form-control select-search") }}
                                    {% for error in form.room.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if lesson.lesson_type.name == 'school' %}
                                <div class="row {{ 'has-error' if form.school_classes.errors }}">
                                    <label class="control-label col-md-3">Класс:</label>
                                    <div class="col-md-6">
                                        {{ form.school_classes(class="form-control select-search", placeholder="Выбрать классы") }}
                                        {% for error in form.school_classes.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-3 checkbox-option">
                                        <label class="contact-radio-label">Разделить классы
                                            {{ form.split_classes }}
                                            <span class="custom-checkbox"></span>
                                        </label>
                                    </div>
                                </div>
                            {% endif %}
                            {% if lesson.lesson_type.name != 'event' %}
                                <div class="row {{ 'has-error' if form.teacher.errors }}">
                                    <label class="control-label col-md-3">Учитель:</label>
                                    <div class="col-md-6">
                                        {{ form.teacher(class="form-control select-search") }}
                                        {% for error in form.teacher.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-sm" data-background-color="main">Изменить занятие</button>
                                <a href="{{ url_for('timetable', week=week) }}" class="btn btn-sm spinner-trigger" data-background-color="red">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}