{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Изменить данные о клиенте</h4>
            </div>
            <div class="card-content">

                <form class="login-form" action="{{ url_for('edit_student', student_id=student.id) }}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Ребенок</h4>
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label col-md-3">Фамилия:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="last_name" class="form-control" value="{{ student.last_name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Имя:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="first_name" class="form-control" value="{{ student.first_name }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Отчество:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="patronym" class="form-control" value="{{ student.patronym }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Дата рождения:</label>
                                    <div class="col-md-3 datepicker-container">
                                        <input type="text" name="dob" class="form-control datepicker" placeholder="дд.мм.гггг" value="{{ student.birth_date }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Статус:</label>
                                    <div class="col-md-3">
                                        <select name="status" class="form-control" id="status-select">
                                            <option value="Клиент">Клиент</option>
                                            <option value="Лид">Лид</option>
                                            <option value="Пауза">Пауза</option>
                                            <option value="Закрыт">Закрыт</option>
                                        </select>
                                    </div>
                                    <script type="text/javascript">
                                        var studentStatus = "{{ student.status }}"
                                        var statusSelect = document.getElementById("status-select");
                                        if (studentStatus !== undefined && studentStatus !== null) {
                                            statusSelect.value = studentStatus;
                                        } else {
                                            statusSelect.value = "Клиент";
                                        }
                                    </script>
                                    <div id="pause-date" style="display: none;">
                                        <label class="control-label col-md-1">до:</label>
                                        <div class="col-md-3">
                                            <input type="text" name="pause_until" class="form-control datepicker" placeholder="дд.мм.гггг" value="{{ student.pause_date }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="leaving-reason" style="display: none;">
                                        <label class="control-label col-md-3">Причина:</label>
                                        <div class="col-md-5">
                                            <textarea name="leaving_reason" class="form-control">{{ student.leaving_reason }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Контакты</h4>
                            <div id="contact-sections">
                                <div class="contact-section">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="control-label col-md-3">Контакт:</label>
                                            <div class="col-md-3">
                                                <select name="relation_1" class="form-control contact-relation" id="relation-select-1">
                                                    <option value="Мама">Мама</option>
                                                    <option value="Папа">Папа</option>
                                                    <option value="Сам ребенок">Сам ребенок</option>
                                                    <option value="Другое">Другое</option>
                                                </select>
                                            </div>
                                            <script type="text/javascript">
                                                var mainContactType = "{{ student.main_contact.type }}"
                                                var relationSelect = document.getElementById("relation-select-1");
                                                relationSelect.value = mainContactType;
                                            </script>
                                            <div class="col-md-3">
                                                <label class="contact-radio-label" style="padding: 9px 25px">Основной контакт
                                                    <input type="radio" class="contact-radio" name="primary_contact" value="contact_1" checked required>
                                                    <span class="custom-radio"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row relation-other-row" style="display: none;">
                                            <label class="control-label col-md-3">Другое:</label>
                                            <div class="col-md-4">
                                                <input type="text" name="other_relation_1" class="form-control" value="{{ student.main_contact.type }}">
                                            </div>
                                        </div>
                                        <div class="contact-info">
                                            <div class="row">
                                                <label class="control-label col-md-3">Фамилия:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="parent_last_name_1" class="form-control" value="{{ student.main_contact.last_name }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Имя:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="parent_first_name_1" class="form-control" required value="{{ student.main_contact.first_name }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-3">Отчество:</label>
                                                <div class="col-md-5">
                                                    <input type="text" name="parent_patronym_1" class="form-control" value="{{ student.main_contact.patronym }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Телеграм:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="telegram_1" class="form-control" value="{{ student.main_contact.contacts[0].telegram }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Телефон:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="phone_1" class="form-control" value="{{ student.main_contact.contacts[0].phone }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Другое:</label>
                                            <div class="col-md-5">
                                                <input type="text" name="other_contact_1" class="form-control" value="{{ student.main_contact.contacts[0].other_contact }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-login" id="submit-btn" style="background-color:#4BD1A0;">Изменить</button>
                            </div>
                            <div class="col-md-3">
                                <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
