{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Табель сотудников</h4>
            </div>
            <div class="card-content">
                <input type="text" id="search" placeholder="Поиск в таблице">
                <div class="scroll-timetable" style="height: 73vh;">
                    <table class="table table-hover" id="table-report">
                        <thead class="text-success">
                            <tr>
                                <th width="25%">Сотрудник</th>
                                <th width="25%">Деятельность</th>
                                {% for date in dates %}
                                    <th>{{ date }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                                <tr>
                                    <td width="25%"><b>{{ employee.name }}</b></td>
                                    <td width="15%">{{ employee.role }}</td>
                                    {% for date in dates %}
                                        <td class="hours-count-cell">
                                            {{ employee.activity.get(date) if employee.activity.get(date) }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-sm" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('employee_report', week=week-1) }}">
                                <i class="material-icons">navigate_before</i>Предыдущая неделя
                            </a>
                        </button>
                        <button class="btn btn-sm" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('employee_report', week=week+1) }}">
                                Следующая неделя<i class="material-icons">navigate_next</i>
                            </a>
                        </button>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <button class="btn btn-sm" style="background-color: #4bd1a0;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('generate_employee_report', week=week) }}" download=" {{ filename }} ">
                                <i class="material-icons">file_download</i> Скачать таблицу
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
