{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                {% if render_type == 'last_weeks' %}
                    <h4 class="title">Последние финансовые операции</h4>
                {% else %}
                    <h4 class="title">Все финансовые операции</h4>
                {% endif %}
            </div>
            <div class="card-content table-responsive">
                {% if finance_operations %}
                    <div class="scroll-table">
                        <input type="text" id="search" placeholder="Поиск в таблице">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th style="text-align:center;">Дата</th>
                                <th width="20%">Клиент</th>
                                <th style="text-align:center;">Наличные</th>
                                <th style="text-align:center;">Счет</th>
                                <th style="text-align:center;">Депозит</th>
                                <th style="text-align:center;">Остаток</th>
                                <th width="30%">Описание</th>
                                {% if render_type == 'last_weeks' %}
                                    <th></th>
                                {% endif %}
                            </thead>
                        </table>
                        <div class="scroll-table-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for operation in finance_operations %}
                                        <tr>
                                            <td style="text-align:center;">{{ operation.date.strftime('%d.%m.%Y') }}</td>
                                            <td width="20%">
                                                {% if operation.person.status %}
                                                    <a style="color:#555;" href="{{ url_for('show_edit_student', student_id=operation.person_id) }}">
                                                        {{ operation.person.last_name }} {{ operation.person.first_name }}
                                                    </a>
                                                {% elif operation.person.roles %}
                                                    <a style="color:#555;" href="{{ url_for('show_edit_employee', employee_id=operation.person_id) }}">
                                                        {{ operation.person.last_name }} {{ operation.person.first_name }}
                                                    </a>
                                                {% else %}
                                                    {{ operation.person.last_name }} {{ operation.person.first_name }}
                                                {% endif %}
                                            </td>
                                            {% if operation.student_balance %}
                                                <td style="text-align:center;">
                                                    {% if operation.operation_type == 'cash' %}
                                                        {% if operation.amount > 0 %}
                                                            <p style="color:green"><b>+{{ operation.amount|round(1) }}</b></p>
                                                        {% elif operation.amount < 0 %}
                                                            <p style="color:red"><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% else %}
                                                            <p><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="text-align:center;">
                                                    {% if operation.operation_type == 'bank' %}
                                                        {% if operation.amount > 0 %}
                                                            <p style="color:green"><b>+{{ operation.amount|round(1) }}</b></p>
                                                        {% elif operation.amount < 0 %}
                                                            <p style="color:red"><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% else %}
                                                            <p><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="text-align:center;">
                                                    {% if operation.amount > 0 %}
                                                        <p style="color:green"><b>+{{ operation.amount|round(1) }}</b></p>
                                                    {% elif operation.amount < 0 %}
                                                        <p style="color:red"><b>{{ operation.amount|round(1) }}</b></p>
                                                    {% else %}
                                                        <p><b>{{ operation.amount|round(1) }}</b></p>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                 <td style="text-align:center;">
                                                    {% if operation.operation_type == 'cash' %}
                                                        {% if operation.amount > 0 %}
                                                            <p style="color:red"><b>-{{ operation.amount|round(1) }}</b></p>
                                                        {% elif operation.amount < 0 %}
                                                            <p style="color:green"><b>+{{ operation.amount|abs|round(1) }}</b></p>
                                                        {% else %}
                                                            <p><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="text-align:center;">
                                                    {% if operation.operation_type == 'bank' %}
                                                        {% if operation.amount > 0 %}
                                                            <p style="color:red"><b>-{{ operation.amount|round(1) }}</b></p>
                                                        {% elif operation.amount < 0 %}
                                                            <p style="color:green"><b>+{{ operation.amount|abs|round(1) }}</b></p>
                                                        {% else %}
                                                            <p><b>{{ operation.amount|round(1) }}</b></p>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="text-align:center;"></td>
                                            {% endif %}
                                            <td style="text-align:center; font-weight:400;"><i>{{ operation.balance_state|round(1) }}</i></td>
                                            <td width="30%">{{ operation.description }}</td>
                                            {% if render_type == 'last_weeks' %}
                                                <td>
                                                    {% if current_user.rights in ["admin", "user"] %}
                                                        <a href="#" data-toggle="modal" data-target="#change-{{ operation.id }}-modal">
                                                            <i class="material-icons">edit</i>
                                                        </a>
                                                    {% endif %}

                                                <!-- *-*-*-*-*-*-*-*-*-* Operation change modal *-*-*-*-*-*-*-*-*-* -->

                                                    <div class="modal fade" id="change-{{ operation.id }}-modal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Изменить финансовую операцию</h4>
                                                                </div>
                                                                <div class="modal-body" style="padding-top:10px;">
                                                                    <form class="change-finance-form" action="{{ url_for('finances') }}" method="post">
                                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                                        <input type="hidden" name="operation_id" value="{{ operation.id }}">
                                                                        <div class="row">
                                                                            <label class="control-label col-md-3" style="padding-left:44px;">Дата:</label>
                                                                            <div class="col-md-3 date-div">
                                                                                <input type="text" name="finance_date" class="form-control date-input required datepicker" placeholder="дд.мм.гггг" value="{{ operation.date.strftime('%d.%m.%Y') }}">
                                                                            </div>
                                                                            <label class="control-label col-md-3" style="padding-left:44px;">Сумма:</label>
                                                                            <div class="col-md-2">
                                                                                {% if operation.amount > 0 %}
                                                                                    <div class="form-control" style="color:red"><b>-{{ operation.amount|round(1) }}</b></div>
                                                                                {% elif operation.amount < 0 %}
                                                                                    <div class="form-control" style="color:green"><b>+{{ operation.amount|abs|round(1) }}</b></div>
                                                                                {% else %}
                                                                                    <div class="form-control"><b>{{ operation.amount|round(1) }}</b></div>
                                                                                {% endif %}
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <label class="control-label col-md-3" style="padding-left:44px;">Описание:</label>
                                                                            <div class="col-md-8 field-div">
                                                                                <input type="text" name="description" class="form-control field-input" value="{{ operation.description }}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-6 col-md-offset-3">
                                                                                <button type="submit" class="btn btn-sm" data-background-color="main">
                                                                                    Изменить
                                                                                </button>
                                                                                <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                                                    Отмена
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p>Финансовых операций пока нет</p>
                {% endif %}
                {% if render_type == 'last_weeks' %}
                    <div class="col-md-12">
                        {% if current_user.rights in ["admin", "user"] %}
                            <button class="btn btn-sm" data-background-color="purple">
                                <a href="#" data-toggle="modal" data-target="#finance-modal">
                                    <i class="material-icons">attach_money</i> Финансовая операция
                                </a>
                            </button>
                            <button class="btn btn-sm" data-background-color="purple">
                                <a href="#" class="subscription-modal-trigger" data-toggle="modal" data-target="#subscription-modal">
                                    <i class="material-icons">addchart</i> Покупка абонемента
                                </a>
                            </button>
                        {% else  %}
                            <button class="btn btn-sm" data-background-color="purple" title="Нет прав администратора" disabled>
                                <a href="#" data-toggle="modal" data-target="">
                                    <i class="material-icons">attach_money</i> Финансовая операция
                                </a>
                            </button>
                        {% endif %}
                        <button class="btn btn-sm pull-right" data-background-color="purple">
                            <a href="{{ url_for('all_finances') }}">
                                <i class="material-icons">assured_workload</i> Все финансовые операции
                            </a>
                        </button>

                <!-- *-*-*-*-*-*-*-*-*-* Subscription purchase *-*-*-*-*-*-*-*-*-* -->

                            <div class="modal fade" id="subscription-modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Покупка абонемента</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="subscription-form" action="{{ url_for('subscription') }}" method="post">
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">Клиент:</label>
                                                    <div class="col-md-7">
                                                        <select name="student_id" class="form-control select-search">
                                                            <option disabled selected></option>
                                                            {% for person in all_persons %}
                                                                {% if person.status == "Клиент" %}
                                                                    <option value="{{ person.id }}">{{ person.last_name }} {{ person.first_name }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">Занятие:</label>
                                                    <div class="col-md-7">
                                                        <select name="selected_subject" class="form-control subscription-select">
                                                            {% for subject in subscription_subjects %}
                                                                <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">Тип абонемента:</label>
                                                    <div class="col-md-7">
                                                        <select name="subscription_type" class="form-control subscription-type-select"></select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">Дата покупки:</label>
                                                    <div class="col-md-7 date-div">
                                                        <input type="text" name="purchase_date" class="form-control date-input required datepicker" placeholder="дд.мм.гггг" value="{{ today }}">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">Оплата:</label>
                                                    <div class="col-md-7">
                                                        <select name="operation_type" class="form-control">
                                                            <option value="cash">Оплата наличными</option>
                                                            <option value="bank">Оплата на счет</option>
                                                            <option value="balance">Оплата с депозита</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-4" style="padding-left:44px;">К оплате:</label>
                                                    <div class="col-md-7">
                                                        <p class="form-control price-display" style="color:green"></p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 col-md-offset-3">
                                                        <button type="submit" class="btn btn-sm purchase-subscription" data-background-color="main">
                                                            Оплатить
                                                        </button>
                                                        <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                            Отмена
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                <!-- *-*-*-*-*-*-*-*-*-* Finance operation modal *-*-*-*-*-*-*-*-*-* -->

                        <div class="modal fade" id="finance-modal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Финансовая операция</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="finance-form" action="{{ url_for('add_finance_operation') }}" method="post">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <div class="row">
                                                <label class="control-label col-md-4" style="padding-left:44px;">Дата:</label>
                                                <div class="col-md-7 date-div">
                                                    <input type="text" name="finance_date" class="form-control date-input required datepicker" placeholder="дд.мм.гггг" value="{{ today }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-4" style="padding-left:44px;">Клиент:</label>
                                                <div class="col-md-7">
                                                    <select name="person_id" class="form-control select-search">
                                                        <option disabled selected></option>
                                                        {% for person in all_persons %}
                                                            <option value="{{ person.id }}">{{ person.last_name }} {{ person.first_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-4" style="padding-left:44px;">Вид операции:</label>
                                                <div class="col-md-7 field-div">
                                                    <select name="operation_type" class="form-control field-input required">
                                                        <option disabled selected></option>
                                                        <option value="minus_cash">Оплата наличными</option>
                                                        <option value="minus_bank">Оплата на счет</option>
                                                        <option value="minus_balance">Оплата с депозита</option>
                                                        <option value="plus_cash">Возврат наличными</option>
                                                        <option value="plus_bank">Возврат co счета</option>
                                                        <option value="plus_balance">Возврат на депозит</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label class="control-label col-md-4" style="padding-left:44px;">Описание:</label>
                                                <div class="col-md-7 field-div">
                                                    <input type="text" name="description" class="form-control field-input required">
                                                </div>
                                            </div>
                                             <div class="row">
                                                <label class="control-label col-md-4" style="padding-left:44px;">Сумма:</label>
                                                <div class="col-md-4 field-div">
                                                    <input type="number" name="amount" class="form-control field-input required" step="any" min="0">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-3">
                                                    <button type="submit" class="btn btn-sm" data-background-color="main">
                                                        Провести
                                                    </button>
                                                    <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                        Отмена
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                {% else %}
                    <div class="col-md-12">
                        <button class="btn btn-sm pull-right" data-background-color="purple">
                            <a href="{{ url_for('finances') }}">
                                <i class="material-icons">account_balance</i> Последние финансовые операции
                            </a>
                        </button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var subscriptionSubjectsData = {{ subscription_subjects | tojson | safe }};
</script>
{% endblock %}
