{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">{{ lesson_subject.name }}</h4>
            </div>
            <div class="card-content">
                {% if subject_lesson %}
                    <h4 class="title" style="margin-left: 27px;">Дата: {{ subject_lesson.date.strftime('%d.%m') }}, время: {{ subject_lesson.start_time.strftime('%H:%M') }}, учитель: {{ subject_lesson.teacher.last_name }} {{ subject_lesson.teacher.first_name }}</h4>
                    <form action="{{ url_for('lesson', lesson_str='1-'+subject_lesson.id|string) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="form-group">
                            <div class="scroll-timetable" style="height: 55vh;">
                                <table class="table table-hover">
                                    <thead class="text-success">
                                        <th>Клиент</th>
                                        <th width="25%">Способ оплаты</th>
                                        <th style="padding-left: 40px;">Запись</th>
                                        <th>Посещение</th>
                                    </thead>
                                    <tbody>
                                        {% if subject_lesson.lesson_completed %}
                                            {% for student in subject_lesson.students %}
                                                <tr>
                                                    <td>{{ student.last_name }} {{ student.first_name }}</td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <select name="payment_option_{{ student.id }}" class="form-control">
                                                                {% for payment_option in student.payment_options %}
                                                                    <option value="{{ payment_option.value }}">{{ payment_option.type }}. {{ payment_option.info }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td class="checkbox-option" style="padding-left: 40px;">
                                                        {% if student in subject_lesson.students_registered %}
                                                            <label class="contact-radio-label">
                                                                <input type="checkbox" name="registered_{{ student.id }}" checked="checked" disabled>
                                                                <span class="custom-checkbox" style="margin: -8px 0px 0px 15px;"></span>
                                                            </label>
                                                        {% else %}
                                                            <label class="contact-radio-label">
                                                                <input type="checkbox" name="registered_{{ student.id }}" disabled>
                                                                <span class="custom-checkbox" style="margin: -8px 0px 0px 15px;"></span>
                                                            </label>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {% if student.attended == 'not_attend' %}
                                                            <div class="form-control">Не посетил</div>
                                                        {% elif student.attended == 'attend' %}
                                                            <div class="form-control">Посетил</div>
                                                        {% else %}
                                                            <div class="form-control">Не посетил (не ув прич)</div>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    {% if current_user.rights in ["admin", "user"] %}
                                                        <button type="submit" name="change_btn" class="btn btn-xs" data-background-color="orange">Изменить</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% else %}
                                            {% for student in subject_lesson.students %}
                                                <tr>
                                                    <td>
                                                        <button type="submit" name="del_client_btn" value="{{ student.id }}" class="btn btn-danger del-btn" style="margin-bottom:2px">x</button>
                                                        {{ student.last_name }} {{ student.first_name }}
                                                    </td>
                                                    <td>
                                                        <div class="dropdown">
                                                            <select name="payment_option_{{ student.id }}" class="form-control">
                                                                {% for payment_option in student.payment_options %}
                                                                    <option value="{{ payment_option.value }}">{{ payment_option.type }}. {{ payment_option.info }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </td>
                                                    {% if student in subject_lesson.students_registered %}
                                                        <td class="checkbox-option" style="padding-left: 40px;">
                                                            <label class="contact-radio-label">
                                                                <input type="checkbox" name="registered_{{ student.id }}" checked="checked">
                                                                <span class="custom-checkbox"></span>Записан
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <div class="dropdown">
                                                                <select name="attending_status_{{ student.id }}" class="form-control">
                                                                    <option value="attend">Посетил</option>
                                                                    <option value="not_attend">Не посетил (ув прич)</option>
                                                                    <option value="unreasonable">Не посетил (не ув прич)</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                    {% else %}
                                                        <td class="checkbox-option" style="padding-left: 40px;">
                                                            <label class="contact-radio-label">
                                                                <input type="checkbox" name="registered_{{ student.id }}">
                                                                <span class="custom-checkbox"></span>Не записан
                                                            </label>
                                                        </td>
                                                        <td><div class="form-control">Не посетил</div></td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td>
                                                    <button type="button" id="add-client-btn" class="btn btn-xs add-client-btn" data-background-color="orange">Добавить клиента</button>
                                                    <div class="add-client-form" style="display: none;">
                                                        <select name="added_client_id" class="form-control select-search">
                                                            {% for client in clients %}
                                                                <option value="{{ client.id }}">{{ client.last_name }} {{ client.first_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                        <button type="submit" name="add_client_btn" class="btn btn-success btn-xs">Добавить</button>
                                                        <button type="button" class="btn btn-danger btn-xs close-client-btn">Отменить</button>
                                                    </div>
                                                </td>
                                                <td></td>
                                                {% if not subject_lesson.students %}
                                                    <td></td>
                                                    <td></td>
                                                {% else %}
                                                    <td style="padding-left:40px;">
                                                        <button type="submit" name="registered_btn" class="btn btn-xs" data-background-color="orange">Записать</button>
                                                    </td>
                                                    <td>
                                                        {% if subject_lesson.date > today or current_user.rights not in ["admin", "user"] %}
                                                            <button type="submit" name="attended_btn" class="btn btn-xs" data-background-color="orange" disabled>Провести</button>
                                                        {% else %}
                                                            <button type="submit" name="attended_btn" class="btn btn-xs" data-background-color="orange">Провести</button>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-6">
                            {% if subject_lesson.prev %}
                                <button class="btn btn-sm" data-background-color="orange">
                                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('lesson', lesson_str='1-'+subject_lesson.prev|string) }}">
                                        <i class="material-icons">navigate_before</i>Предыдущee занятие
                                    </a>
                                </button>
                            {% endif %}
                            {% if subject_lesson.next %}
                                <button class="btn btn-sm" data-background-color="orange">
                                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('lesson', lesson_str='1-'+subject_lesson.next|string) }}">
                                        Следующее занятие<i class="material-icons">navigate_next</i>
                                    </a>
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <div class="dropup pull-right">
                                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-background-color="main">
                                    <i class="material-icons" style="color: white;">library_books</i> Другое занятие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for other_lesson in other_lessons %}
                                        {% if other_lesson.subject_type.name != "after_school" %}
                                            <li><a href="{{ url_for('lesson', lesson_str='0-'+other_lesson.id|string) }}">{{ other_lesson.name }}</a></li>
                                        {% else %}
                                            <li><a href="{{ url_for('after_school', month_index=0) }}">{{ other_lesson.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% if not subject_lesson.students_registered.all() and current_user.rights in ["admin", "user"] %}
                                <button class="btn btn-sm pull-right" data-background-color="red">
                                    <a href="#" data-toggle="modal" data-target="#delete-modal">
                                        <i class="material-icons">delete_forever</i> Отменить занятие
                                    </a>
                                </button>

                            <!-- *-*-*-*-*-*-*-*-*-* Lesson delete conformation *-*-*-*-*-*-*-*-*-* -->

                                <div class="modal fade" id="delete-modal" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title alert alert-danger" style="text-align:center;">Отмена занятия</h4>
                                            </div>
                                            <div class="modal-body" style="padding-top:10px;">
                                                <p class="control-label">
                                                    Вы уверены, что хотите отменить занятие {{ lesson_subject.name }}?
                                                </p>
                                                <form class="login-form" action="{{ url_for('delete_record') }}" method="post">
                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                    <input type="hidden" name="record_type" value="lesson">
                                                    <input type="hidden" name="lesson_id" value="{{ subject_lesson.id }}">
                                                    <div class="row">
                                                        <div class="col-md-10 col-md-offset-1">
                                                            <button type="submit" class="btn btn-sm" data-background-color="main">
                                                                Да
                                                            </button>
                                                            <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                                Нет
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="row" style="margin-top: 15px;">
                        <p style="margin-left: 80px;">Запланированных занятий нет</p>
                    </div>
                    <div class="row" style="margin-top: 45px;">
                        <div class="col-md-12">
                            <div class="dropup pull-right">
                                <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-background-color="main">
                                    <i class="material-icons" style="color: white;">library_books</i> Другое занятие
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for other_lesson in other_lessons %}
                                        {% if other_lesson.subject_type.name != "after_school" %}
                                            <li><a href="{{ url_for('lesson', lesson_str='0-'+other_lesson.id|string) }}">{{ other_lesson.name }}</a></li>
                                        {% else %}
                                            <li><a href="{{ url_for('after_school', month_index=0) }}">{{ other_lesson.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}