{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">{{ lesson_subject.name }}</h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        {% if subject_lesson %}
                            <h4 class="title" style="margin: 0 40px;">Дата: {{ subject_lesson.date.strftime('%d.%m') }}, время: {{ subject_lesson.start_time.strftime('%H:%M') }}, учитель: {{ subject_lesson.teacher.last_name }} {{ subject_lesson.teacher.first_name }}</h4>
                            <div class="form-group" style="margin: 0 40px;">
                                <form action="{{ url_for('lesson', lesson_id=subject_lesson.id) }}" method="post">
                                    <div class="col-md-12">
                                        <table class="table table-hover">
                                            <thead class="text-success">
                                                <th>Клиент</th>
                                                <th>Способ оплаты</th>
                                                <th>Запись</th>
                                                <th>Посещение</th>
                                            </thead>
                                            <tbody>
                                                {% if subject_lesson.lesson_completed %}
                                                    {% for student in subject_lesson.students %}
                                                        <tr>
                                                            <td>{{ student.last_name }} {{ student.first_name }}</td>
                                                            <td>
                                                                <div class="dropdown">
                                                                    <select name="payment_option_{{ student.id }}" class="form-control">
                                                                        {% for payment_option in student.payment_options %}
                                                                            <option value="{{ payment_option.value }}">{{ payment_option.type }}. {{ payment_option.info }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <td style="padding-left:20px;">
                                                                {% if student in subject_lesson.students_registered %}
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox" name="registered_{{ student.id }}" checked="checked" disabled>
                                                                        <span class="custom-checkbox"></span>
                                                                    </label>
                                                                {% else %}
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox" name="registered_{{ student.id }}" disabled>
                                                                        <span class="custom-checkbox"></span>
                                                                    </label>
                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                {% if student.attended == 'not_attend' %}
                                                                    <p class="form-control">Не посетил</p>
                                                                {% elif student.attended == 'attend' %}
                                                                    <p class="form-control">Посетил</p>
                                                                {% else %}
                                                                    <p class="form-control">Не посетил (не ув прич)</p>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <button type="submit" name="change_btn" class="btn btn-xs" style="background-color: #ff9800;">Изменить</button>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    {% for student in subject_lesson.students %}
                                                        <tr>
                                                            <td>
                                                                <button type="submit" name="del_client_btn" value="{{ student.id }}" class="btn btn-danger del-btn" style="margin-bottom:2px">x</button>
                                                                {{ student.last_name }} {{ student.first_name }}
                                                            </td>
                                                            <td>
                                                                <div class="dropdown">
                                                                    <select name="payment_option_{{ student.id }}" class="form-control">
                                                                        {% for payment_option in student.payment_options %}
                                                                            <option value="{{ payment_option.value }}">{{ payment_option.type }}. {{ payment_option.info }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            {% if student in subject_lesson.students_registered %}
                                                                <td style="padding-left:20px;" class="checkbox-option">
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox" name="registered_{{ student.id }}" checked="checked">
                                                                        <span class="custom-checkbox"></span>Записан
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <div class="dropdown">
                                                                        <select name="attending_status_{{ student.id }}" class="form-control">
                                                                            <option value="attend">Посетил</option>
                                                                            <option value="not_attend">Не посетил (ув прич)</option>
                                                                            <option value="unreasonable">Не посетил (не ув прич)</option>
                                                                        </select>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td style="padding-left:20px;" class="checkbox-option">
                                                                    <label class="contact-radio-label">
                                                                        <input type="checkbox" name="registered_{{ student.id }}">
                                                                        <span class="custom-checkbox"></span>Не записан
                                                                    </label>
                                                                </td>
                                                                <td><p class="form-control">Не посетил</p></td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    <tr>
                                                        <td>
                                                            <button type="button" id="add-client-btn" class="btn btn-sm" style="background-color: #ff9800;">Добавить клиента</button>
                                                            <div id="clientSelector" style="display: none;">
                                                                <select name="added_client_id">
                                                                    {% for client in clients %}
                                                                        <option value="{{ client.id }}">{{ client.last_name }} {{ client.first_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <br>
                                                                <button type="submit" name="add_client_btn" class="btn btn-xs" style="background-color: #ff9800;">Добавить</button>
                                                                <button type="button" id="cancel-add-client-btn" class="btn btn-danger btn-xs">Отменить</button>
                                                            </div>
                                                        </td>
                                                        <td></td>
                                                        {% if not subject_lesson.students %}
                                                            <td></td>
                                                            <td></td>
                                                        {% else %}
                                                            <td style="padding-left:30px;">
                                                                <button type="submit" name="registered_btn" class="btn btn-xs" style="background-color: #ff9800;">Записать</button>
                                                            </td>
                                                            <td>
                                                                <button type="submit" name="attended_btn" class="btn btn-xs" style="background-color: #ff9800;">Провести</button>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <div class="row">
                                <p style="margin-left: 80px;">Запланированных занятий нет</p>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6">
                                {% if subject_lesson.prev %}
                                    <button class="btn btn-sm" style="background-color: #ff9800;">
                                        <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('lesson', lesson_id=subject_lesson.prev) }}">
                                            <i class="material-icons">navigate_before</i>Предыдущee занятие
                                        </a>
                                    </button>
                                {% endif %}
                                {% if subject_lesson.next %}
                                    <button class="btn btn-sm" style="background-color: #ff9800;">
                                        <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('lesson', lesson_id=subject_lesson.next) }}">
                                            Следующее занятие<i class="material-icons">navigate_next</i>
                                        </a>
                                    </button>
                                {% endif %}
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4bd1a0;">
                                        <i class="material-icons" style="color: white;">library_books</i> Другое занятие
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('lesson', lesson_id='0-12') }}">Подготовка</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}