<div class="modal fade" id="{{ modal_id }}" role="dialog">
    <div class="modal-dialog {{ modal_class if modal_class }}">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ modal_title }}</h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}{% endblock %}
            </div>
        </div>
    </div>
</div>