<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li class="open">
                    <a id="toggle-sidebar" href="#pablo" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="material-icons">menu</i>
                    <div class="ripple-container"></div></a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right" style="margin-right:20px;">
            {% if current_user.rights in ['admin', 'user'] %}
                <li>
                    <a class="spinner-trigger" style="cursor:pointer" href="{{ url_for('finance.finances') }}">
                        <i class="material-icons">account_balance</i>
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="spinner-trigger" style="cursor:pointer" href="{{ url_for('settings.settings') }}">
                    <i class="material-icons">settings</i>
                </a>
            </li>
            <li style="margin-top:8px; font-weight:500">{{ current_user.username }}</li>
            <li>
                <a class="spinner-trigger" style="cursor:pointer" href="{{ url_for('auth.logout') }}">
                    <i class="material-icons">exit_to_app</i>
                </a>
            </li>
        </ul>
    </div>
</nav>