{% extends "school_base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Школьные классы</h4>
            </div>
            <div class="card-content table-responsive">
                <div class="row" style="margin-left:30px;">
                    {% for school_class in school_classes %}
                        <button type="button"
                                class="btn btn-sm switch-button {{ 'btn-success' if loop.index == 1 else '' }}"
                                style="width:80px; padding: 5px 5px;"
                                data-target="table-{{ loop.index }}">
                            {{ school_class.school_name }}
                        </button>
                    {% endfor %}
                </div>
                {% for school_class in school_classes %}
                    <div class="row target-row" id="row-{{ loop.index }}" style="{{ 'display:block' if loop.index == 1 else 'display:none' }};">
                        <label class="control-label col-md-3" style="margin-left:30px;">Классный руководитель:</label>
                        <div class="col-md-6">
                            <p class="form-control">
                                {% if school_class.main_teacher %}
                                    {{ school_class.main_teacher.last_name }} {{ school_class.main_teacher.first_name }} {{ school_class.main_teacher.patronym if school_class.main_teacher.patronym }}
                                {% else %}
                                    Нет
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% if school_class.class_students %}
                        <div class="scroll-table target-table" id="table-{{ loop.index }}" style="{{ 'display:block' if loop.index == 1 else 'display:none' }}; height: 300px;">
                            <table class="table table-hover">
                                <thead class="text-success">
                                    <th>Фамилия, Имя</th>
                                    <th>Дата рождения</th>
                                    <th>Контакт</th>
                                    <th>Комментарий</th>
                                    <th>Действия</th>
                                </thead>
                            </table>
                            <div class="scroll-table-body">
                                <table class="table table-hover">
                                    <tbody>
                                        {% for student in school_class.class_students %}
                                            <tr>
                                                <td>{{ student.last_name }} {{ student.first_name }}</td>
                                                <td>
                                                    <p>{{ student.birth_date if student.birth_date }}</p>
                                                    <p>{{ student.age if student.age }}</p>
                                                </td>
                                                <td>
                                                    {{ student.contact_name if student.contact_name }}
                                                    {{ student.contact if student.contact }}
                                                </td>
                                                <td class="comment-cell"  style="cursor:pointer;">
                                                    <div class="comment-container">
                                                        {{ student.comment if student.comment }}
                                                    </div>
                                                    <div class="form-group comment-form-container text-center" style="display:none;">
                                                        <form class="comment-form" method="post" data-person-id="{{ student.id }}">
                                                            <textarea class="form-control" name="comment" rows="3" cols="8"></textarea><br>
                                                            <button type="submit">Добавить</button>
                                                        </form>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4bd1a0;">
                                                            <i class="material-icons" style="color: white;">toc</i>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="{{ url_for('show_edit_student', student_id=student.id) }}">
                                                                    <i class="material-icons" style="color: purple;">info</i>Просмотр
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="" class="lesson-modal-trigger" data-toggle="modal" data-target="#lesson-{{ student.id }}-modal">
                                                                    <i class="material-icons" style="color: purple;">date_range</i>Записать
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="" data-toggle="modal" data-target="#deposit-{{ student.id }}-modal">
                                                                    <i class="material-icons" style="color: purple;">money</i>Пополнить
                                                                </a>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li>
                                                                <a href="">
                                                                    <i class="material-icons" style="color: red;">delete_forever</i>Удалить
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                <!-- *-*-*-*-*-*-*-*-*-* Student register for a lesson *-*-*-*-*-*-*-*-*-* -->

                                                    <div class="modal fade" id="lesson-{{ student.id }}-modal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">{{ student.last_name }} {{ student.first_name }}. Запись на занятие</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="login-form" action="{{ url_for('lesson_register', student_id=student.id) }}" method="post">
                                                                        <div class="row">
                                                                            <label class="control-label col-md-4" style="padding-left:44px;">Занятие:</label>
                                                                            <div class="col-md-7">
                                                                                <select name="selected_subject" class="form-control lesson-subjects-select">
                                                                                    {% for subject in lesson_subjects %}
                                                                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <label class="control-label col-md-4" style="padding-left:44px;">Дата и время занятия:</label>
                                                                            <div class="col-md-7">
                                                                                <select name="lesson" class="form-control lesson-select"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-3 col-md-offset-3">
                                                                                <button type="submit" class="btn btn-login" data-background-color="main">
                                                                                    Записать
                                                                                </button>
                                                                            </div>
                                                                            <div class="col-md-3">
                                                                                <button type="button" class="btn btn-default float-right" data-dismiss="modal" data-background-color="red">
                                                                                    Отмена
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                <!-- *-*-*-*-*-*-*-*-*-* Student balance replenishment *-*-*-*-*-*-*-*-*-* -->

                                                    <div class="modal fade" id="deposit-{{ student.id }}-modal" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    <h4 class="modal-title">{{ student.last_name }} {{ student.first_name }}. Пополнение депозита</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="login-form" action="{{ url_for('deposit', student_id=student.id) }}" method="post">
                                                                        <div class="row">
                                                                            <label class="control-label col-md-3" style="padding-left:44px;">Внести:</label>
                                                                            <div class="col-md-4">
                                                                                <input type="number" class="form-control" name="deposit" step="10" min="10" max="1000" required>
                                                                            </div>
                                                                            <div class="col-md-4">
                                                                                <button type="submit" class="btn btn-login float-right" data-background-color="main" style="margin:0;">
                                                                                    Внести
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal" data-background-color="red">Отмена</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <p>Учеников пока нет</p>
                    {% endif %}
                {% endfor %}
                <button class="btn" style="background-color: #ff9800;">
                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_student') }}">
                        <i class="material-icons">add_box</i>Добавить ученика
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var lessonSubjectsData = {{ lesson_subjects | tojson | safe }};
</script>
{% endblock %}
