{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Школьное расписание</h4>
            </div>
            <div class="card-content">
                <div class="row" style="margin-left:30px;">
                    {% for day in days %}
                        <button type="button"
                                class="btn btn-sm switch-button {{ 'btn-success' if loop.index == 1 else '' }}"
                                style="width:130px; padding: 5px 5px;"
                                data-target="table-{{ loop.index }}">
                            {{ day }}, {{ classes[day][0] }}
                        </button>
                    {% endfor %}
                </div>
                {% for day in days %}
                    <div class="scroll-timetable target-table" id="table-{{ loop.index }}" style="{{ 'display:block' if loop.index == 1 else 'display:none' }}; height: 330px;">
                        <table class="table school-timetable">
                            <thead class="text-success">
                                <tr>
                                    <th>Время</th>
                                    {% for school_class in school_classes %}
                                        <th>{{ school_class.school_name }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>9:00 - 10:00</th>
                                    {% for school_class in school_classes %}
                                        <td rowspan="9">
                                            {% if classes[day][1][school_class.school_name] %}
                                                {% for lesson in classes[day][1][school_class.school_name] %}
                                                    <div class="class-box" id="class-box-{{ lesson.id }}"
                                                         style="background-color: {{ lesson.room_color }}; top: {{ lesson.start_time/0.75 + 1 }}px; height: {{ (lesson.end_time - lesson.start_time)/0.75 - 1 }}px; width: {{ 900 / (school_classes|length + 1) - 6 }}px;"
                                                         onclick="showDropdown({{ lesson.id }}, event)">
                                                        <p style="color: #660000;">{{ lesson.time }}</p>
                                                        <p style="color: #003366;">{{ lesson.subject }}</p>
                                                        <p style="color: #330033;">{{ lesson.teacher }}</p>
                                                        <div class="dropdown open dropdown-content" id="dropdown-{{ lesson.id }}">
                                                            <ul class="dropdown-menu">
                                                                <li><a href="{{ url_for('students') }}">Просмотр</a></li>
                                                                <li><a href="{{ url_for('students') }}">Изменить</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="{{ url_for('students') }}">Удалить</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% for hour in range(10, 18) %}
                                    <tr>
                                        <th>{{ hour }}:00 - {{ hour + 1 }}:00</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('school_timetable', week = week - 1) }}">
                                <i class="material-icons">navigate_before</i>Предыдущая неделя
                            </a>
                        </button>
                        <button class="btn" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('school_timetable', week = week + 1) }}">
                                Следующая неделя<i class="material-icons">navigate_next</i>
                            </a>
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        {% if week >= 0 %}
                            <button class="btn" style="background-color: #4bd1a0;">
                                <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_lessons') }}">Составить расписание</a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
