{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Клиенты</h4>
            </div>
            <div class="card-content table-responsive">
                {% if students %}
                    <div class="scroll-table">
                        <input type="text" id="search" placeholder="Поиск в таблице">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Фамилия, Имя</th>
                                <th>Дата рождения</th>
                                <th>Статус</th>
                                <th>Занятия</th>
                                <th>Контакт</th>
                                <th>Комментарий</th>
                                <th>Действия</th>
                            </thead>
                        </table>
                        <div class="scroll-table-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td>{{ student.last_name }} {{ student.first_name }}</td>
                                            <td>{{ student.birth_date if student.birth_date }}</td>
                                            <td>
                                                <p>{{ student.status_info }}</p>
                                                {% if student.balance_plus %}
                                                    <p style="color:green"><b>Баланс: {{ student.balance_plus }}</b></p>
                                                {% endif %}
                                                {% if student.balance_minus %}
                                                    <p style="color:red"><b>Баланс: {{ student.balance_minus }}</b></p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if student.subjects %}
                                                    {% if student.status=="Лид"%}
                                                        Интересуется:
                                                        {% for subject in student.subjects %}
                                                            {{ subject.name }}{{ "," if not loop.last }}
                                                        {% endfor %}
                                                    {% else %}
                                                        {{ student.subjects_info if student.subjects_info }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ student.contact_name if student.contact_name }}
                                                {{ student.contact if student.contact }}
                                            </td>
                                            <td class="comment-cell"  style="cursor:pointer;">
                                                <div class="comment-container">
                                                        {{ student.comment if student.comment }}
                                                </div>
                                                <div class="comment-form-container" style="display:none;">
                                                    <form class="comment-form" method="post" data-person-id="{{ student.id }}">
                                                        <textarea name="comment" rows="4" cols="10"></textarea><br>
                                                        <button type="submit">Добавить</button>
                                                    </form>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4bd1a0;">
                                                        <i class="material-icons" style="color: white;">toc</i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ url_for('show_edit_student', student_id=student.id) }}">
                                                                <i class="material-icons" style="color: purple;">info</i>Просмотр
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="lesson-modal-trigger" data-toggle="modal" data-target="#lesson-{{ student.id }}-modal" data-student="{{ student.id }}">
                                                                <i class="material-icons" style="color: purple;">date_range</i>Записать
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" class="subscription-modal-trigger" data-toggle="modal" data-target="#subscription-{{ student.id }}-modal">
                                                                <i class="material-icons" style="color: purple;">addchart</i>Абонемент
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="" data-toggle="modal" data-target="#deposit-{{ student.id }}-modal">
                                                                <i class="material-icons" style="color: purple;">money</i>Пополнить
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="">
                                                                <i class="material-icons" style="color: red;">delete_forever</i>Удалить
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            <!-- *-*-*-*-*-*-*-*-*-* Student register for a lesson *-*-*-*-*-*-*-*-*-* -->

                                                <div class="modal fade" id="lesson-{{ student.id }}-modal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{ student.last_name }} {{ student.first_name }}. Запись на занятие</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="login-form" action="{{ url_for('lesson_register', student_id=student.id) }}" method="post">
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Занятие:</label>
                                                                        <div class="col-md-7">
                                                                            <select name="selected_subject" class="form-control lesson-subject-select">
                                                                                {% for subject in lesson_subjects %}
                                                                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Дата и время занятия:</label>
                                                                        <div class="col-md-7">
                                                                            <select name="lesson" class="form-control lesson-select"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-3 col-md-offset-3">
                                                                            <button type="submit" class="btn btn-login" data-background-color="main">
                                                                                Записать
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <button type="button" class="btn btn-default float-right" data-dismiss="modal" data-background-color="red">
                                                                                Отмена
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!-- *-*-*-*-*-*-*-*-*-* Student subscription purchase *-*-*-*-*-*-*-*-*-* -->

                                                <div class="modal fade" id="subscription-{{ student.id }}-modal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{ student.last_name }} {{ student.first_name }}. Покупка абонемента</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="login-form" action="{{ url_for('subscription', student_id=student.id) }}" method="post">
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Занятие:</label>
                                                                        <div class="col-md-7">
                                                                            <select name="selected_subject" class="form-control subscription-subject-select">
                                                                                {% for subject in subscription_subjects %}
                                                                                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Тип абонемента:</label>
                                                                        <div class="col-md-7">
                                                                            <select name="subscription_type" class="form-control subscription-type-select"></select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Дата покупки:</label>
                                                                        <div class="col-md-7">
                                                                            <input type="text" name="purchase_date" class="form-control datepicker" placeholder="дд.мм.гггг" value="{{ today }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">К оплате:</label>
                                                                        <div class="col-md-7">
                                                                            <p class="form-control price-display" style="color:green"></p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-3 col-md-offset-3">
                                                                            <button type="submit" class="btn btn-login" data-background-color="main">
                                                                                Оплатить
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <button type="button" class="btn btn-default float-right" data-dismiss="modal" data-background-color="red">
                                                                                Отмена
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!-- *-*-*-*-*-*-*-*-*-* Student balance replenishment *-*-*-*-*-*-*-*-*-* -->

                                                <div class="modal fade" id="deposit-{{ student.id }}-modal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{ student.last_name }} {{ student.first_name }}. Пополнение депозита</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form class="login-form" action="{{ url_for('deposit', student_id=student.id) }}" method="post">
                                                                    <div class="row">
                                                                        <label class="control-label col-md-3" style="padding-left:44px;">Внести:</label>
                                                                        <div class="col-md-4">
                                                                            <input type="number" class="form-control" name="deposit" step="10" min="10" max="1000" required>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <button type="submit" class="btn btn-login float-right" data-background-color="main" style="margin:0;">
                                                                                Внести
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal" data-background-color="red">Отмена</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p>Клиентов пока нет</p>
                {% endif %}
                <button class="btn" style="background-color: #ff9800;">
                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_student') }}">
                        <i class="material-icons">add_box</i>Добавить клиента
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var subscriptionSubjectsData = {{ subscription_subjects | tojson | safe }};
    var lessonSubjectsData = {{ lesson_subjects | tojson | safe }}
</script>
{% endblock %}
