{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Информация о клиенте</h4>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="title">Ребенок</h4>
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-md-3">Фамилия:</label>
                                <div class="col-md-5">
                                    <p>{{ student.last_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Имя:</label>
                                <div class="col-md-5">
                                    <p>{{ student.first_name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Отчество:</label>
                                <div class="col-md-5">
                                    <p>
                                        {% if student.patronym %}
                                            {{ student.patronym }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Дата рождения:</label>
                                <div class="col-md-3">
                                    <p>
                                        {% if student.birth_date %}
                                            {{ student.birth_date }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Статус:</label>
                                <div class="col-md-3">
                                    <p>{{ student.status_info }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" id="show-contacts-btn" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">people</i> Контакты
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="show-subjects" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">school</i> Занятия
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="show-subscriptions" class="btn btn-default" style="background-color: #ff9800;">
                            <i class="material-icons">ballot</i> Абонементы
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12" style="display: none;">
                        <h4 class="title">Kонтакты</h4>
                        <h5 class="title" style="margin-left: 12px; margin-top: 12px; font-size: 1.1em;">Основной контакт</h5>
                        <div class="form-group" style="margin-top: 12px;">
                            {% if student.main_contact.id!=student.id %}
                                <div class="row">
                                    <label class="control-label col-md-3">Контакт:</label>
                                    <div class="col-md-5">
                                        <p>{{ student.main_contact.type }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Фамилия:</label>
                                    <div class="col-md-5">
                                        <p>{{ student.main_contact.last_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Имя:</label>
                                    <div class="col-md-5">
                                        <p>{{ student.main_contact.first_name }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="control-label col-md-3">Отчество:</label>
                                    <div class="col-md-5">
                                        <p>
                                            {% if student.main_contact.patronym %}
                                                {{ student.main_contact.patronym }}
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <label class="control-label col-md-3">Телеграм:</label>
                                <div class="col-md-3">
                                    <p>
                                        {% if student.main_contact.contacts[0].telegram %}
                                            {{ student.main_contact.contacts[0].telegram }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Телефон:</label>
                                <div class="col-md-3">
                                    <p>
                                        {% if student.main_contact.contacts[0].phone %}
                                            {{ student.main_contact.contacts[0].phone }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <label class="control-label col-md-3">Другое:</label>
                                <div class="col-md-3">
                                    <p>
                                        {% if student.main_contact.contacts[0].other_contact %}
                                            {{ student.main_contact.contacts[0].other_contact }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% if student.additional_contacts %}
                            {% for contact in student.additional_contacts %}
                                <h5 class="title" style="margin-left: 12px; margin-top: 12px; font-size: 1.1em;">Дополнительные контакты</h5>
                                <div class="form-group" style="margin-top: 12px;">
                                    {% if contact.id!=student.id %}
                                        <div class="row">
                                            <label class="control-label col-md-3">Контакт:</label>
                                            <div class="col-md-5">
                                                <p>{{ contact.type }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Фамилия:</label>
                                            <div class="col-md-5">
                                                <p>{{ contact.last_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Имя:</label>
                                            <div class="col-md-5">
                                                <p>{{ contact.first_name }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="control-label col-md-3">Отчество:</label>
                                            <div class="col-md-5">
                                                <p>{{ contact.patronym }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <label class="control-label col-md-3">Телеграм:</label>
                                        <div class="col-md-3">
                                            <p>{{ contact.contacts[0].telegram }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Телефон:</label>
                                        <div class="col-md-3">
                                            <p>{{ contact.contacts[0].phone }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="control-label col-md-3">Другое:</label>
                                        <div class="col-md-3">
                                            <p>{{ contact.contacts[0].other_contact }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-md-12" style="display: none;">
                        <h4 class="title">Занятия</h4>
                        <div class="form-group" style="margin-top: 12px;">
                            {% if student.subjects %}
                                <div class="row">
                                    {% if student.status=="Лид"%}
                                        <label class="control-label col-md-3">Интересуется:</label>
                                    {% else %}
                                        <label class="control-label col-md-3">Посещал:</label>
                                    {% endif %}
                                    <div class="col-md-5">
                                        {% for subject in student.subjects %}
                                            <p style="padding: 12px 12px 0; margin: 0;">{{ subject.name }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <p>Занятий пока нет</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="title">Абонементы</h4>
                        <div class="form-group" style="margin-top: 12px;">
                            {% if student.subscriptions_info %}
                                <div class="col-md-6">
                                    <table class="table table-hover">
                                        <thead class="text-success">
                                            <th>Занятие</th>
                                            <th>Остаток уроков</th>
                                            <th>Срок действия</th>
                                        </thead>
                                        <tbody>
                                            {% for subscription in student.subscriptions_info %}
                                                <tr>
                                                    <td>{{ subscription.subject_name }}</td>
                                                    <td>{{ subscription.lessons_left }}</td>
                                                    <td>{{ subscription.end_date }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <div class="row">
                                    <p>Абонементов пока нет</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a href="" class="btn btn-login" style="background-color:#4BD1A0;">Изменить</a>
    </div>
    <div class="col-md-3">
        <a href="{{ url_for('students') }}" class="btn btn-default" style="background-color:#ef5350;">Закрыть</a>
    </div>
</div>
{% endblock %}