{% extends "modal_template.html" %}

{% block modal_body %}
<form class="login-form" action="{{ url_for('school_classes.school_journal', option='student') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="row">
        <label class="control-label col-md-4" style="padding-left:44px;">Ученик:</label>
        <div class="col-md-7">
            <select name="school_student" class="form-control select-search">
                {% for student in school_attending_students %}
                    <option value="{{ student.id }}">{{ student.last_name }} {{ student.first_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <button type="submit" class="btn btn-sm" data-background-color="main">
                Открыть журнал
            </button>
            <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                Отмена
            </button>
        </div>
    </div>
</form>
{% endblock %}