{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Занятия</h4>
            </div>
            <div class="card-content table-responsive">
                {% if subjects %}
                    <div class="scroll-table">
                        <input type="text" id="search" placeholder="Поиск в таблице">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Название</th>
                                <th>Абонементы</th>
                                <th>Цена разового занятия</th>
                                <th>Учителя</th>
                                <th>Действие</th>
                            </thead>
                        </table>
                        <div class="scroll-table-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for subject in subjects %}
                                        <tr>
                                            <td>
                                                <p>{{ subject.name }}</p>
                                                <p>({{ subject.subject_type.description }})</p>
                                            </td>
                                            <td>
                                                {% if subject.types_of_subscription %}
                                                    {% for subscription_type in subject.types_of_subscription %}
                                                        <p>{{ subscription_type[1] }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td style="padding-left:40px;">
                                                {% if subject.one_time_price %}
                                                    <p>{{ subject.one_time_price | round(1) }}</p>
                                                {% endif %}
                                                {% if subject.school_price %}
                                                    <p>{{ subject.school_price | round(1) }} (Продленка)</p>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if subject.teachers %}
                                                    {% for teacher in subject.teachers %}
                                                        <p>{{ teacher.last_name }} {{ teacher.first_name }}</p>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4bd1a0;">
                                                        <i class="material-icons" style="color: white;">toc</i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="{{ url_for('lesson', subject_id=subject.id, lesson_id=0) }}">
                                                                <i class="material-icons" style="color: purple;">info</i>Просмотр
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ url_for('edit_subject', subject_id=subject.id) }}">
                                                                <i class="material-icons" style="color: purple;">edit</i>Изменить
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="">
                                                                <i class="material-icons" style="color: red;">delete_forever</i>Удалить
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p>Занятий пока нет</p>
                {% endif %}
                <button class="btn" style="background-color: #ff9800;">
                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_subject') }}">
                        <i class="material-icons">add_box</i>Добавить занятие
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
