{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Абонементы</h4>
            </div>
            <div class="card-content table-responsive">
                {% if subscriptions %}
                    <div class="scroll-table">
                        <input type="text" id="search" placeholder="Поиск в таблице">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Клиент</th>
                                <th style="text-align:center;">Занятие</th>
                                <th width="8%" style="text-align:center;">Остаток уроков</th>
                                <th width="8%" style="text-align:center;">Дата покупки</th>
                                <th width="8%" style="text-align:center;">Срок действия</th>
                                <th style="text-align:center;">Тип абонемента</th>
                                <th style="text-align:center;">Статус</th>
                                <th width="8%"></th>
                            </thead>
                        </table>
                        <div class="scroll-table-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for subscription in subscriptions %}
                                        <tr>
                                            <td>
                                                <a class="spinner-trigger" style="color:#555;" href="{{ url_for('show_edit_student', student_id=subscription.student_id) }}">
                                                    {{ subscription.student.last_name }} {{ subscription.student.first_name }}
                                                </a>
                                            </td>
                                            <td style="text-align:center;">{{ subscription.subject.name }} ({{ subscription.subject.subject_type.description }})</td>
                                            <td width="8%" style="text-align:center;">{{ subscription.lessons_left }}</td>
                                            <td width="8%" style="text-align:center;">{{ subscription.purchase_date.strftime('%d.%m.%y') }}</td>
                                            <td width="8%" style="text-align:center;">{{ subscription.end_date.strftime('%d.%m.%y') }}</td>
                                            <td style="text-align:center;">{{ subscription.type_of_subscription }}</td>
                                            <td style="text-align:center;">
                                                {% if subscription.active %}
                                                    Действующий
                                                {% else %}
                                                    Завершен
                                                {% endif %}
                                            </td>
                                            <td width="8%">
                                                {% if current_user.rights == "admin" %}
                                                    <a href="#" data-toggle="modal" data-target="#change-{{ subscription.id }}-modal">
                                                        <i class="material-icons">edit</i>
                                                    </a>
                                                    {% if subscription.lessons_left == subscription.subscription_type.lessons %}
                                                        <a href="#" data-toggle="modal" data-target="#delete-{{ subscription.id }}-modal">
                                                            <i class="material-icons" style="color:red;">delete_forever</i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                            <!-- *-*-*-*-*-*-*-*-*-* Subscription change modal *-*-*-*-*-*-*-*-*-* -->

                                                <div class="modal fade" id="change-{{ subscription.id }}-modal" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Изменить абонемент {{ subscription.subject.name }} клиента {{ subscription.student.last_name }} {{ subscription.student.first_name }}</h4>
                                                            </div>
                                                            <div class="modal-body" style="padding-top:10px;">
                                                                <form class="form-subscription" action="{{ url_for('subscriptions') }}" method="post">
                                                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                                    <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Остаток уроков:</label>
                                                                        <div class="col-md-7 field-div">
                                                                            <input type="number" name="lessons_left" class="form-control field-input required" min="0" step="1" value="{{ subscription.lessons_left }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Дата покупки:</label>
                                                                        <div class="col-md-7 date-div">
                                                                            <input type="text" name="purchase_date" class="form-control date-input required datepicker" placeholder="дд.мм.гггг" value="{{ subscription.purchase_date.strftime('%d.%m.%Y') }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <label class="control-label col-md-4" style="padding-left:44px;">Срок действия:</label>
                                                                        <div class="col-md-7 date-div">
                                                                            <input type="text" name="end_date" class="form-control date-input required datepicker" placeholder="дд.мм.гггг" value="{{ subscription.end_date.strftime('%d.%m.%Y') }}">
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-6 col-md-offset-3">
                                                                            <button type="submit" class="btn btn-sm" data-background-color="main">
                                                                                Изменить
                                                                            </button>
                                                                            <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                                                Отмена
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            <!-- *-*-*-*-*-*-*-*-*-* Subscription delete conformation *-*-*-*-*-*-*-*-*-* -->

                                                {% if current_user.rights == "admin" and subscription.lessons_left == subscription.subscription_type.lessons %}
                                                    <div class="modal fade" id="delete-{{ subscription.id }}-modal" role="dialog">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title alert alert-danger" style="text-align:center;">Удаление абонемента</h4>
                                                                </div>
                                                                <div class="modal-body" style="padding-top:10px;">
                                                                    <p class="control-label">
                                                                        Вы уверены, что хотите удалить абонемент {{ subscription.subject.name }} клиента {{ subscription.student.last_name }} {{ subscription.student.first_name }}?
                                                                    </p>
                                                                    <form class="login-form" action="{{ url_for('delete_record') }}" method="post">
                                                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                                        <input type="hidden" name="record_type" value="subscription">
                                                                        <input type="hidden" name="subscription_id" value="{{ subscription.id }}">
                                                                        <div class="row">
                                                                            <div class="col-md-10 col-md-offset-1">
                                                                                <button type="submit" class="btn btn-sm" data-background-color="main">
                                                                                    Да
                                                                                </button>
                                                                                <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                                                    Нет
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p style="height: 120px; padding-top:20px;">Абонементов пока нет</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
