{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables" id="students-card">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Учителя</h4>
            </div>
            <div class="card-content table-responsive">
                {% if teachers %}
                    <div class="scroll-table">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th width="13%">Предметы</th>
                                <th>Контакт</th>
                                <th>Комментарий</th>
                                <th width="13%">Действие</th>
                            </thead>
                        </table>
                        <div class="scroll-table-body">
                            <table class="table table-hover">
                                <tbody>
                                    {% for teacher in teachers %}
                                        <tr>
                                            <td>{{ teacher.last_name }}</td>
                                            <td>{{ teacher.first_name }}</td>
                                            <td>{{ teacher.patronym }}</td>
                                            <td width="13%">
                                                {% if teacher.subjects_taught %}
                                                    {% for subject in teacher.subjects_taught %}
                                                        {{ subject.name }}{{ "," if not loop.last }}
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>{{ teacher.contact }}</td>
                                            <td>{{ teacher.comment }}</td>
                                            <td width="13%">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #4bd1a0;">
                                                        <i class="material-icons" style="color: white;">toc</i>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="">
                                                                <i class="material-icons" style="color: purple;">info</i>Просмотр
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="">
                                                                <i class="material-icons" style="color: purple;">edit</i>Изменить
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="">
                                                                <i class="material-icons" style="color: red;">delete_forever</i>Удалить
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% else %}
                    <p>Учителей пока нет</p>
                {% endif %}
                <button class="btn" style="background-color: #ff9800;">
                    <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_student') }}">
                        <i class="material-icons">add_box</i>Добавить учителя
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
