{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Расписание. {{ week_dates[0] }} - {{ week_dates[-1] }}</h4>
            </div>
            <div class="card-content">
                {% if classes %}
                    <div class="scroll-timetable">
                        <table class="table timetable">
                            <thead class="text-success">
                                <tr>
                                    <th rowspan="2" width="3%" class="fixed-column">Время</th>
                                    {% for day in days %}
                                        <th colspan="{{ rooms|length }}">{{ day }} {{ week_dates[loop.index0] }}</th>
                                    {% endfor %}
                                </tr>
                                <tr style="color: green; font-size: 80%;">
                                    {% for day in days %}
                                        {% for room in rooms %}
                                            <th>{{ room }}</th>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="fixed-column">{{ start_time }}:00 - {{ start_time + 1 }}:00</th>
                                    {% for day in days %}
                                        {% for room in rooms %}
                                            <td rowspan="{{ end_time - start_time + 1 }}">
                                                {% if classes.get(day) %}
                                                    {% if classes[day].get(room) %}
                                                        {% for lesson in classes[day][room] %}
                                                            <div class="dropdown">
                                                                <div class="class-box dropdown-toggle" data-toggle="dropdown" id="class-box-{{ lesson.id }}"
                                                                     style="background-color: {{ lesson.color }}; top: {{ (lesson.start_time - 60 * start_time + 540)/0.6 + 1 }}px; height: {{ (lesson.end_time - lesson.start_time)/0.6 - 4 }}px;">
                                                                    <p style="color: #660000;">{{ lesson.time }}</p>
                                                                    {% if lesson.lesson_type %}
                                                                        <p style="color: #003300;">{{ lesson.lesson_type }}</p>
                                                                    {% endif %}
                                                                    {% for subject in lesson.subject %}
                                                                        <p style="color: #003366;">{{ subject }}</p>
                                                                    {% endfor %}
                                                                    <p style="color: #330033;">{{ lesson.teacher }}</p>
                                                                </div>
                                                                <ul class="dropdown-menu" id="dropdown-{{ lesson.id }}" style="top: {{ (lesson.start_time - 60 * start_time + 540)/0.6 + 50 }}px;">
                                                                    {% if lesson.lesson_type_name not in ["school", "after_school"] %}
                                                                        <li>
                                                                            <a href="{{ url_for('lesson', lesson_str='1-'+lesson.id|string) }}">
                                                                                <i class="material-icons" style="color: purple;">info</i>Занятие
                                                                            </a>
                                                                        </li>
                                                                        {% if not lesson.completed and lesson.month_index >= -1  %}
                                                                            <li>
                                                                                <a href="{{ url_for('edit_lesson', lesson_id=lesson.id) }}">
                                                                                    <i class="material-icons" style="color: purple;">edit</i>Изменить
                                                                                </a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% elif lesson.lesson_type_name=="school" %}
                                                                        <li>
                                                                            <a href="{{ url_for('school_timetable', week=week, day=days.index(day)+1) }}">
                                                                                <i class="material-icons" style="color: purple;">date_range</i>Школьное расписание
                                                                            </a>
                                                                        </li>
                                                                    {% elif lesson.lesson_type_name=="after_school" %}
                                                                        <li>
                                                                            <a href="{{ url_for('after_school', month_index=lesson.month_index) }}">
                                                                                <i class="material-icons" style="color: purple;">diversity_2</i>Продленка
                                                                            </a>
                                                                        </li>
                                                                        {% if lesson.month_index >= -1  %}
                                                                            <li>
                                                                                <a href="{{ url_for('edit_lesson', lesson_id=lesson.id) }}">
                                                                                    <i class="material-icons" style="color: purple;">edit</i>Изменить
                                                                                </a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    {% if lesson.lesson_type_name!="school" and not lesson.completed and lesson.month_index >= -1  %}
                                                                        <li class="divider"></li>
                                                                        <li>
                                                                            <a href="#" data-toggle="modal" data-target="#delete-{{ lesson.id }}-modal">
                                                                                <i class="material-icons" style="color: red;">delete_forever</i>Отменить
                                                                            </a>
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </div>

                                            <!-- *-*-*-*-*-*-*-*-*-* Lesson delete conformation *-*-*-*-*-*-*-*-*-* -->

                                                            <div class="modal fade" id="delete-{{ lesson.id }}-modal" role="dialog">
                                                                <div class="modal-dialog modal-sm">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title alert alert-danger" style="text-align:center;">Отмена занятия</h4>
                                                                        </div>
                                                                        <div class="modal-body" style="padding-top:10px;">
                                                                            <p class="control-label">
                                                                                Вы уверены, что хотите отменить занятие {{ lesson.subject_full }}?
                                                                            </p>
                                                                            <form class="login-form" action="{{ url_for('delete_record') }}" method="post">
                                                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                                                <input type="hidden" name="record_type" value="lessons">
                                                                                <input type="hidden" name="lesson_id" value="{{ lesson.id }}">
                                                                                <div class="row">
                                                                                    <div class="col-md-10 col-md-offset-1">
                                                                                        <button type="submit" class="btn btn-sm" data-background-color="main">
                                                                                            Да
                                                                                        </button>
                                                                                        <button type="button" class="btn btn-sm pull-right" data-dismiss="modal" data-background-color="red">
                                                                                            Нет
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                                {% for hour in range(start_time + 1, end_time) %}
                                    <tr>
                                        <th class="fixed-column">{{ hour }}:00 - {{ hour + 1 }}:00</th>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Нет занятий в расписании</p>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-sm" data-background-color="orange">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('timetable', week = week - 1) }}">
                                <i class="material-icons">navigate_before</i>Предыдущая неделя
                            </a>
                        </button>
                        <button class="btn btn-sm" data-background-color="orange">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('timetable', week = week + 1) }}">
                                Следующая неделя<i class="material-icons">navigate_next</i>
                            </a>
                        </button>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <div class="dropup pull-right">
                            <button class="btn btn-sm dropdown-toggle" data-background-color="main" data-toggle="dropdown">
                                Составить расписание
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('copy_lessons') }}">Копировать занятия</a></li>
                                <li><a href="{{ url_for('add_lessons') }}">Новые занятия</a></li>
                                <li><a href="">Отменить занятия</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
