{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card data-tables">
            <div class="card-header" data-background-color="main">
                <h4 class="title">Расписание</h4>
            </div>
            <div class="card-content">
                <div class="scroll-timetable">
                    <table class="table timetable">
                        <thead class="text-success">
                            <tr>
                                <th rowspan="3" width="3%" class="fixed-column">Время</th>
                                {% for day in days %}
                                    <th colspan="{{ rooms|length }}">{{ day }}</th>
                                {% endfor %}
                            </tr>
                            <tr style="color: green;">
                                {% for day in days %}
                                    <th colspan="{{ rooms|length }}">{{ classes[day][0] }}</th>
                                {% endfor %}
                            </tr>
                            <tr style="color: green; font-size: 80%;">
                                {% for day in days %}
                                    {% for room in rooms %}
                                        <th>{{ room.name }}</th>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="fixed-column">9:00 - 10:00</th>
                                {% for day in days %}
                                    {% for room in rooms %}
                                        <td rowspan="11">
                                            {% if classes[day][1][room.name] %}
                                                {% for lesson in classes[day][1][room.name] %}
                                                    <div class="class-box" style="background-color: {{ lesson.color }}; top: {{ lesson.start_time/0.6 + 1 }}px; height: {{ (lesson.end_time - lesson.start_time)/0.6 - 1 }}px; width: {{ 566 / rooms|length - 6 }}px;">
                                                        <p style="color: #660000;">{{ lesson.time }}</p>
                                                        {% if lesson.lesson_type %}
                                                            <p style="color: #003300;">{{ lesson.lesson_type }}</p>
                                                        {% endif %}
                                                        {% for subject in lesson.subject %}
                                                            <p style="color: #003366;">{{ subject }}</p>
                                                        {% endfor %}
                                                        <p style="color: #330033;">{{ lesson.teacher }}</p>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            {% for hour in range(10, 20) %}
                                <tr>
                                    <th class="fixed-column">{{ hour }}:00 - {{ hour + 1 }}:00</th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('timetable', week = week - 1) }}">
                                <i class="material-icons">navigate_before</i>Предыдущая неделя
                            </a>
                        </button>
                        <button class="btn" style="background-color: #ff9800;">
                            <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('timetable', week = week + 1) }}">
                                Следующая неделя<i class="material-icons">navigate_next</i>
                            </a>
                        </button>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        {% if week >= 0 %}
                            <button class="btn" style="background-color: #4bd1a0;">
                                <a style="cursor:pointer; color: #FFFFFF;" href="{{ url_for('add_lessons') }}">Составить расписание</a>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
